// ==========================================================================
// TEMPLATES - Article
// ==========================================================================

.article-image {
	&__container {
		margin-bottom: 30px;
	}
	&__image {
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 200px, 0);
	}
}

.article-back {
	&__container {
		@include container;
		padding-top: 0px;
		margin-bottom: 40px;
	}
	&__button-container {
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}
	&__button {
		display: inline-flex;
		align-items: center;
		font-size: rem(13);
		font-weight: 500;
		color: $black;
		opacity: 0.3;
		padding: 0 15px 15px 15px;
		position: relative;
		transition: opacity 0.25s ease;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $black;
			position: absolute;
			left: 0px;
			bottom: 0px;
			transform: scaleX(1);
			transform-origin: center;
			transition: transform 0.25s ease;
		}
		&:hover {
			opacity: 0.7;
			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 100%;
				background-color: $black;
				position: absolute;
				left: 0px;
				bottom: 0px;
				transform: scaleX(0.8);
			}
			.article-back__button-icon {
				transform: translateX(-5px);
			}
		}
	}
	&__button-icon {
		position: relative;
		top: -2px;
		margin-right: 10px;
		transform: translateX(0);
		transition: transform 0.25s ease;
	}
}

.article-content {
	&__container {
		@include container;
		padding-bottom: 120px;
	}
	&__title {
		@include title-2;
		margin-bottom: 30px;
	}
	&__content {
		.title-4 {
			margin-top: 2em;
		}
	}
}

@include tablet-only {
	.article-image {
		&__container {
			@include container;
		}
	}
	.article-content {
		&__container {
			padding-bottom: 120px;
		}
		&__title {
			margin-left: 12.5%;
			margin-right: 12.5%;
			width: 75%;
		}
		&__content {
			margin-left: 12.5%;
			margin-right: 12.5%;
			width: 75%;
		}
	}
}

@include desktop-only {
	.article-image {
		&__container {
			padding-top: 0px;
			padding-bottom: 0px;
			margin-bottom: 60px;
		}
	}
	.article-back {
		&__container {
			padding-top: 0px;
			padding-bottom: 0px;
			margin-bottom: 90px;
		}
	}
	.article-content {
		&__container {
			padding-top: 0px;
			padding-bottom: 150px;
		}
		&__title {
			margin-bottom: 50px;
			margin-left: 16.66666%;
			margin-right: 16.66666%;
			width: 66.66666%;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 100px, 0);
		}
		&__content {
			margin-left: 16.66666%;
			margin-right: 16.66666%;
			width: 66.66666%;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 100px, 0);
		}
	}
}
