// ==========================================================================
// TEMPLATES - About
// ==========================================================================

.about-philosophy {
	background-color: $gray;
	&__container {
		@include container;
		padding-top: 50px;
		padding-bottom: 100px;
	}
	&__aside {
		padding-top: 40px;
		margin-bottom: 50px;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: $black;
			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0.3;
		}
	}
	&__note {
		font-size: rem(14);
		font-weight: 500;
		width: 40%;
	}
	&__text {
		font-size: rem(20);
		font-weight: 500;
		line-height: 1.5;
		color: $teal;
	}
}

.about-mission {
	&__container {
		@include container;
		padding-top: 40px;
		padding-bottom: 120px;
	}
	&__top {
		position: relative;
		padding-top: 40px;
		margin-bottom: 80px;
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: $black;
			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0.3;
		}
	}
	&__note {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(14);
		font-weight: 500;
	}
	&__icon {
		margin-right: 10px;
		position: relative;
		transform: translateY(-3px);
	}
	&__item {
		width: 100%;
		margin-bottom: 50px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__counter {
		font-size: rem(100);
		font-weight: 500;
		color: $gray;
		opacity: 0.5;
		margin-bottom: 10px;
	}
	&__title {
		font-size: rem(40);
		font-weight: 500;
		color: $navy;
		margin-bottom: 15px;
	}
	&__text {
		font-size: rem(13);
		font-weight: 500;
		color: $navy;
		line-height: 1.5;
	}
}

.about-history {
	background-color: $navy;
	&__container {
		@include container;
		padding-top: 75px;
		padding-bottom: 60px;
	}
	&__title {
		font-size: rem(26);
		font-weight: 500;
		color: $white;
		line-height: 1.4;
		margin-bottom: 60px;
	}
	&__dates {
		margin-bottom: 15px;
	}
	&__date-list {
		margin-left: 10%;
		.flickity-viewport {
			overflow: visible;
		}
	}
	&__date-item {
		margin-right: 20px;
		&.is-selected {
			.about-history {
				&__year {
					font-size: rem(55);
					color: $white;
					opacity: 1;
				}
			}
		}
	}
	&__year {
		font-size: rem(30);
		font-weight: 500;
		color: $gray;
		opacity: 0.5;
	}
	&__media {
		margin-bottom: 35px;
	}
	&__media-list {
		.flickity-viewport {
			overflow: visible;
		}
	}
	&__media-item {
		width: 100%;
		margin-right: 25%;
	}
	&__background-image {
		display: none;
	}
	&__foreground-image {
		width: calc(100% + 40px);
		transform: translateX(-40px);
	}
	&__content {
		margin-bottom: 50px;
	}
	&__content-list {
		.flickity-viewport {
			overflow: visible;
		}
	}
	&__content-item {
		width: 100%;
		margin-right: 16.66666%;
	}
	&__content-title {
		font-size: rem(30);
		font-weight: 500;
		line-height: 1.2;
		color: $white;
		margin-bottom: 30px;
		width: 83.33333%;
	}
	&__content-text {
		font-size: rem(13);
		font-weight: 500;
		line-height: 1.5;
		color: $white;
		width: 83.33333%;
	}
	&__button-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 80px;
	}
	&__nav {
		background-color: $teal;
		height: rem(35);
		width: rem(35);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-right: 1em;
		svg {
			width: 60%;
		}
	}
	&__line {
		display: block;
		width: 100%;
		height: 1px;
		background-color: $white;
	}
}

.about-funding {
	position: relative;
	&__container {
		@include container;
		padding-top: 100px;
		padding-bottom: 120px;
	}
	&__background {
		width: 75%;
		top: 70px;
		right: 0px;
		position: absolute;
	}
	&__canvas {
		display: none;
	}
	&__motif {
		width: 100%;
	}
	&__foreground {
		position: relative;
		z-index: 1;
	}
	&__info {
		margin-bottom: 60px;
	}
	&__title {
		font-size: rem(30);
		font-weight: 500;
		color: $navy;
		margin-bottom: 40px;
	}
	&__text {
		font-size: rem(13);
		font-weight: 500;
		line-height: 1.5;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		width: 80%;
		margin: 0 10%;
	}
	&__logo {
		width: 100%;
		margin-bottom: 20px;
	}
	&__link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(13);
		font-weight: 500;
		color: $navy;
	}
	&__link-icon {
		margin-left: 10px;
		transform: rotate(-135deg) translate(1px, 1px);
	}
}

@include tablet-only {
	.about-philosophy {
		&__container {
			padding-top: 80px;
			padding-bottom: 125px;
		}
		&__aside {
			margin-bottom: 70px;
		}
		&__note {
			width: 37.5%;
		}
		&__text {
			width: 75%;
			margin: 0 12.5%;
		}
	}
	.about-mission {
		&__container {
			padding-top: 60px;
			padding-bottom: 140px;
		}
		&__top {
			margin-bottom: 120px;
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 55px;
		}
		&__item {
			margin-bottom: 0px;
		}
	}
	.about-history {
		overflow: hidden;
		&__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-left: 80px;
			padding-right: 80px;
			padding-top: 100px;
			padding-bottom: 150px;
			position: relative;
		}
		&__title {
			width: 100%;
			margin-bottom: 40px;
		}
		&__dates {
			width: 50%;
			margin-right: 50%;
			margin-bottom: 50px;
			&:after {
				content: '';
				display: block;
				width: 50%;
				height: 100%;
				background-color: $navy;
				position: absolute;
				right: 0px;
				top: 0px;
			}
		}
		&__date-list {
			margin-left: 0;
		}
		&__media {
			width: 62.5%;
			position: absolute;
			right: -120px;
			margin-bottom: 0px;
		}
		&__media-list {
			.flickity-viewport {
				overflow: visible;
			}
		}
		&__media-item {
			width: 100%;
			margin-right: 25%;
			opacity: 0;
			&.is-selected {
				opacity: 1;
			}
		}
		&__background-image {
			display: block;
			width: 100%;
			position: absolute;
			transform: scale(1.7) translateX(-40px) translateY(-40px);
			transform-origin: top left;
			opacity: 0.2;
		}
		&__foreground-image {
			width: 100%;
			transform: translateX(0px);
		}
		&__content {
			width: 50%;
			margin-right: 50%;
			margin-bottom: 0px;
			overflow: hidden;
		}
		&__content-list {
			.flickity-viewport {
				overflow: visible;
			}
		}
		&__content-item {
			width: 100%;
			margin-right: 16.66666%;
		}
		&__content-title {
			font-size: rem(30);
			font-weight: 500;
			line-height: 1.2;
			color: $white;
			margin-bottom: 30px;
			width: 83.33333%;
		}
		&__content-text {
			font-size: rem(13);
			font-weight: 500;
			line-height: 1.5;
			color: $white;
			width: 83.33333%;
		}
		&__button-container {
			position: absolute;
			top: 100px;
			right: 40px;
			margin-bottom: 0px;
		}
		&__nav {
			background-color: $teal;
			height: rem(35);
			width: rem(35);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin-right: 1em;
			svg {
				width: 60%;
			}
		}
		&__line {
			display: none;
		}
	}
	.about-funding {
		&__container {
			padding-top: 130px;
			padding-bottom: 120px;
		}
		&__background {
			width: 37.5%;
			top: 100px;
			right: 75px;
			position: absolute;
		}
		&__foreground {
			padding: 0 35px;
		}
		&__info {
			width: calc(50% - 35px);
		}
		&__list {
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 40px;
			width: 100%;
			margin: 0;
		}
	}
}

@include desktop-only {
	.page-template-tp-about {
		.tilted-slider {
			position: relative;
			z-index: 1;
		}
	}
	.about-philosophy {
		margin-top: -100px;

		&__container {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			padding-top: 300px;
			padding-bottom: 160px;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: calc(100% - 200px);
				height: 1px;
				background-color: $black;
				position: absolute;
				top: 180px;
				left: 100px;
				opacity: 0.3;
			}
		}
		&__aside {
			width: 8.333333%;
			margin-right: 8.33333%;
			padding-top: 0px;
			margin-bottom: 0px;
			&:before {
				display: none;
			}
		}
		&__note {
			font-size: rem(16);
			width: 100%;
		}
		&__main {
			width: 75%;
		}
		&__text {
			width: 100%;
			margin: 0;
			font-size: rem(40);
			color: $white;
		}
	}
	.about-mission {
		&__container {
			padding-bottom: 230px;
		}
		&__top {
			padding-top: 45px;
			margin-bottom: 140px;
		}
		&__note {
			font-size: rem(16);
			margin: 0;
		}
		&__icon {
			margin-right: 25px;
		}
		&__list {
			grid-gap: 8.33333%;
		}
		&__counter {
			font-size: rem(180);
			line-height: 1;
		}
		&__title {
			margin-bottom: 40px;
		}
		&__text {
			font-size: rem(16);
		}
	}
	.about-history {
		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-top: 110px;
			padding-bottom: 230px;
			position: initial;
			&:after {
				content: '';
				display: block;
				height: 1px;
				width: calc(100% - 240px);
				max-width: 1440px;
				margin: 0 120px;
				background-color: $teal;
				position: absolute;
				bottom: 80px;
			}
		}
		&__title {
			font-size: rem(50);
			width: 25%;
			margin-right: 75%;
			margin-bottom: 80px;
		}
		&__dates {
			width: 33.33333%;
			margin-left: 8.33333%;
			margin-right: 58.33333%;
			margin-bottom: 20px;
			&:after {
				width: 55%;
			}
		}
		&__date-item {
			margin-right: 80px;
		}
		&__media {
			top: 0px;
			height: 100%;
		}
		&__media-list {
			height: 100%;
			.flickity-viewport {
				height: 100% !important;
			}
		}
		&__media-item {
			height: 100%;
		}
		&__background-image {
			transform-origin: center;
			transform: scale(1.7) translateX(10%) translateY(0px);
		}
		&__foreground-image {
			width: 80%;
			max-width: 750px;
		}
		&__content {
			width: 25%;
			margin-left: 8.33333%;
			margin-right: 66.66666%;
		}
		&__content-title {
			width: 100%;
			margin-bottom: 15px;
		}
		&__content-text {
			font-size: rem(16);
			width: 100%;
		}
		&__button-container {
			display: none;
		}
	}
	.about-funding {
		&__container {
			padding-top: 170px;
			padding-bottom: 180px;
			position: relative;
		}
		&__background {
			width: 25%;
			right: 120px;
		}
		&__foreground {
			padding: 0px;
		}
		&__info {
			margin-left: 8.33333%;
			width: 33.33333%;
			margin-right: 58.33333;
			margin-bottom: 80px;
		}
		&__title {
			font-size: rem(35);
			margin-bottom: 45px;
		}
		&__text {
			font-size: rem(16);
		}
		&__list {
			width: 83.33333%;
			margin: 0 8.33333%;
			grid-gap: 100px;
		}
		&__item {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__logo {
			margin-bottom: 30px;
		}
		&__link {
			font-size: rem(15);
		}
	}
}
