// ==========================================================================
// TEMPLATE - Contact
// ==========================================================================
.contact-media {
	background-color: $teal;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	pointer-events: none;
	overflow-y: scroll;
	overflow-x: hidden;
	transform-origin: top;
	transform: scaleY(0);
	transition: 0.7s ease;
	transition-delay: 0.2s !important;
	&--show {
		pointer-events: all;
		transform: scaleY(1);
		transition-delay: 0s !important;
		.contact-media {
			&__container {
				pointer-events: all !important;
			}
			&__cta-container {
				opacity: 1;
				transition-delay: 0.5s;
			}
			&__title-word {
				opacity: 1;
				transform: translate3d(0, 0, 0);
				@include contact-media-title-delay;
			}
			&__member {
				opacity: 1;
				transform: translate3d(0, 0, 0);
				@include contact-media-member-delay;
			}
		}
	}
	&__container {
		@include container;
		padding-top: 100px;
		pointer-events: none !important;
	}
	&__title {
		color: $white;
		font-size: rem(43);
		width: 70%;
		margin-top: 1em;
	}
	&__title-word {
		display: inline-block;
		opacity: 0;
		transform: translate3d(0, 100px, 0);
		transition: 0.75s cubic-bezier(0.04, 0, 0.21, 1);
	}
	&__image {
		width: 60%;
		margin: 1.5em 0;
		display: block;
	}
	&__member {
		margin: 1em 0;
		opacity: 0;
		transform: translate3d(0, 100px, 0);
		transition: 0.75s cubic-bezier(0.04, 0, 0.21, 1);
	}
	&__name {
		color: $white;
		margin: 1em 0 0.5em 0;
		font-size: rem(20);
	}
	&__position {
		color: $white;
		font-size: rem(13);
	}
	&__function {
		color: $white;
		font-size: rem(13);
		font-weight: 400;
	}
	&__phone {
		color: $white;
		font-size: rem(14);
		font-weight: 400;
	}
	&__link {
		color: $white;
		font-weight: 500;
	}
	&__email {
		color: $white;
		font-size: rem(14);
		font-weight: 400;
	}
	&__contact {
		margin: 1em 0;
		padding: 1.5em 0;
		border-top: 1px solid $gray;
	}
	&__background {
		display: none;
		position: absolute;
		top: 40%;
		right: 0;
		width: 50%;
		opacity: 0.4;
		pointer-events: none;
		overflow: hidden;
		svg {
			width: 170% !important;
			transform: rotate(-55deg) translateX(-10%) translateY(20%) !important;
		}
	}
	&__cta-container {
		display: flex;
		justify-content: flex-end;
		margin: 0;
		position: absolute;
		top: 10%;
		right: 5%;
		z-index: 999;
		opacity: 0;
		transform-origin: center;
		transition: 0.5s cubic-bezier(0.04, 0, 0.21, 1);
	}
	&__cta {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		position: absolute;

		z-index: 1;
		&:hover {
			.contact-media__cta-icon {
				transform: scale(1.2) rotate(90deg);
			}
		}
	}
	&__cta-text {
		@include circleText($white);
	}
	&__cta-icon {
		width: 15%;
		height: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: scale(1) rotate(0);
		transition: transform 0.4s ease-in-out;
	}
}
.contact-hero {
	background-color: $white;
	&__container {
		@include container;
		position: relative;
	}
	&__map-container {
		position: absolute;
		width: 100%;
		height: 325px;
		z-index: 0;
		svg {
			width: 100%;
			position: absolute;
			bottom: 0px;
			transform: translateX(10%) translateY(-15%) scale(1.2);
		}
	}
	&__item {
		margin: 1em 0 2em 0;
		&:nth-of-type(2) {
			.contact-hero {
				&__item-icon {
					path,
					line {
						stroke: #58c1be;
					}
				}
			}
		}
		&:nth-of-type(3) {
			.contact-hero {
				&__item-icon {
					path,
					line {
						stroke: #bbd6d5;
					}
				}
			}
		}
	}
	&__title {
		margin-top: 100px;
		margin-bottom: 150px;
		display: flex;
		align-items: center;
		font-size: rem(43);
	}
	&__title-word {
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 150%, 0);
	}
	&__item {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 150%, 0);
	}
	&__header {
		padding: 0.5em 0;
		font-size: rem(21);
		border-bottom: 1px solid $gray;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__name {
		font-size: rem(21);
	}
	&__suffix {
		font-size: rem(12);
		margin-left: 0.5em;
	}
	&__address {
		font-size: rem(13);
		margin: 1em 0;
	}
	&__hours {
		margin: 1em 0;
	}
	&__phone-item {
		display: flex;
		align-items: center;
	}
	&__phone-type {
		margin-right: 0.5em;
		font-weight: 400;
		font-size: rem(14);
	}
	&__phone-number {
		color: $navy;
		font-size: rem(14);
	}
	&__item-icon {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: rem(13);
		&--open {
			.contact-hero {
				&__item-close {
					opacity: 1;
				}
				&__item-open {
					opacity: 0;
				}
			}
		}
	}
	&__item-close {
		position: absolute;
		opacity: 0;
		transition: 0.4s ease;
	}
	&__item-open {
		position: absolute;
		opacity: 1;
		transform: rotate(45deg);
		transition: 0.4s ease;
	}
	&__body {
		height: 0px;
		overflow: hidden;
	}
	&__cta-container {
		display: flex;
		justify-content: flex-end;
		margin: 2em 0;
		position: absolute;
		right: 0;
		top: 25px;
	}
	&__cta {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(145);
		&:hover {
			.contact-hero__cta-text {
				> div {
					transform: scale(1.1);
				}
			}
			.contact-hero__cta-icon {
				transform: rotate(90deg) scale(1.5);
			}
		}
	}
	&__cta-text {
		@include circleText($teal);
		> div {
			transform: scale(1);
			transition: transform 0.3s ease;
		}
	}
	&__cta-icon {
		position: absolute;
		height: rem(15);
		width: rem(15);
		transform: rotate(90deg) scale(1);
		transition: transform 0.3s ease;
	}
}

.contact-support {
	background-color: $navy;
	position: relative;
	display: none;
	&__background {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 250px;
	}
	&__foreground-image {
		position: absolute;
		z-index: 1;
		width: 60%;
	}
	&__backgound-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0.35;
		filter: grayscale(100%);
	}
	&__container {
		@include container;
		padding-top: 70px;
		padding-bottom: 60px;
	}
	&__note {
		position: absolute;
		top: 40px;
		left: 20px;
		font-size: rem(14);
		font-weight: 500;
		line-height: 1.2;
		color: $white;
		width: 33.33333%;
	}
	&__note-word {
		display: inline-block;
	}
	&__info {
		padding-bottom: 80px;
		position: relative;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $white;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
	&__title {
		font-size: rem(30);
		font-weight: 500;
		line-height: 1.2;
		color: $white;
		margin-bottom: 1em;
	}
	&__title-word {
		display: inline-block;
	}
	&__text {
		font-size: rem(21);
		font-weight: 500;
		line-height: 1.6;
		color: $white;
		margin-bottom: 0.5em;
	}
	&__text-word {
		display: inline-block;
		> span > span {
			background-color: $teal;
		}
	}
	&__phone-list {
		margin-top: 1em;
	}
	&__phone-item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__phone-type {
		color: $white;
		font-size: rem(14);
		font-weight: 400;
	}
	&__phone-number {
		color: $white;
		margin-left: 0.5em;
		font-size: rem(14);
		font-weight: 500;
	}
}

.contact-form {
	display: flex;
	align-items: center;
	justify-content: center;
	&__background {
		width: 100%;
		transform: scale(2.05);
		position: absolute;
		filter: brightness(0.3);
		opacity: 0.2;
	}
	&__container {
		@include container;
		width: 100%;
		padding-top: 90px;
		padding-bottom: 120px;
	}
	&__title {
		font-size: rem(25);
		font-weight: 500;
		margin-bottom: 80px;
		padding-top: 40px;
		padding-right: 16.66666%;
		position: relative;
	}
	&__separator {
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: $navy;
		transform-origin: left;
		transform: scaleX(0);
	}
	&__title-content-word {
		display: inline-block;
	}
	&__form-container {
		@include contactForm;
		background-color: $white;
		position: relative;
		.field__dropdown-icon {
			top: rem(25);
		}
	}
}

@include tablet-only {
	.contact-media {
		&__container {
			padding-top: 150px;
			padding-bottom: 100px;
			position: relative;
			z-index: 1;
		}
		&__title {
			font-size: rem(70);
			width: 37.5%;
			margin-left: 35px;
			margin-bottom: 50px;
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 40px;
			padding: 0 35px;
		}
		&__member {
			margin: 0;
		}
		&__image {
			width: calc(100% - 35px);
			margin: 0 0 50px 0;
		}
		&__name {
			margin: 0 0 15px 0;
		}
		&__position {
			margin: 0 0 10px 0;
		}
		&__background {
			width: 100%;
			top: 0;
			height: 100%;
			svg {
				width: 250% !important;
				transform: rotate(-60deg) translateX(-10%) translateY(-10%) !important;
			}
		}
	}
	.contact-hero {
		&__map-container {
			height: 100%;
			width: 90%;
			left: 40%;
			top: -200px;
			bottom: auto;
		}
		&__cta-container {
			margin: 0;
			right: 40px;
			top: 65px;
		}
		&__container {
			padding-bottom: 100px;
		}
		&__title {
			margin-top: 150px;
			height: auto;
			width: 62.5%;
			font-size: rem(70);
			margin-bottom: 50px;
		}
		&__list {
			width: 50%;
		}
		&__item {
			margin: 0 0 30px 0;
		}
		&__address {
			margin: 15px 0 20px 0;
		}
		&__hours {
			margin: 0 0 25px 0;
		}
		&__phone-item {
			display: flex;
			align-items: center;
		}
		&__phone-type {
			margin-right: 0.5em;
			font-weight: 400;
			font-size: rem(14);
		}
		&__phone-number {
			color: $navy;
			font-size: rem(14);
		}
		&__body {
			height: 0px;
			overflow: hidden;
		}
	}
	.contact-support {
		&__background {
			position: absolute;
			width: calc(50% - 50px);
			height: 100%;
			overflow: hidden;
		}
		&__foreground-image {
			width: 130%;
			height: 130%;
		}
		&__container {
			padding-top: 150px;
			padding-bottom: 60px;
		}
		&__note {
			top: 60px;
			left: 40px;
			width: 25%;
			z-index: 2;
		}
		&__info {
			width: 50%;
			margin-left: 50%;
			padding-bottom: 120px;
			&:after {
				width: 200%;
				left: auto;
				right: 0px;
				z-index: 1;
			}
		}
	}
	.contact-form {
		&__background {
			transform: scale(1.5);
		}
		&__container {
			width: 100%;
			padding-top: 90px;
			padding-bottom: 120px;
		}
		&__title {
			width: 50%;
			margin-left: 35px;
			margin-bottom: 60px;
			padding-right: 50px;
		}
		&__form-container {
			width: 75%;
			margin: 0 12.5%;
		}
	}
}

@include desktop-only {
	.contact-media {
		overflow: hidden;
		z-index: 2;
		&__container {
			padding-top: 165px;
			padding-bottom: 130px;
		}
		&__title {
			font-size: rem(70);
			width: 41.66666%;
			margin-bottom: 40px;
		}
		&__list {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 80px;
		}
		&__image {
			width: 75%;
			margin-bottom: 40px;
		}
		&__name {
			font-size: rem(30);
			margin-bottom: 10px;
		}
		&__position {
			font-size: rem(16);
			margin-bottom: 10px;
		}
		&__function {
			font-size: rem(16);
		}
		&__contact {
			margin-top: 19px;
			margin-bottom: 0px;
			padding: 20px 0 0 0;
		}
		&__phone {
			font-size: rem(17);
			margin-bottom: 10px;
			&:hover {
				text-decoration: underline;
			}
		}
		&__email {
			font-size: rem(17);
			&:hover {
				text-decoration: underline;
			}
		}
		&__background {
			svg {
				width: 170% !important;
				transform: scale(1.3) rotate(-60deg) translateX(-10%) translateY(0%) !important;
			}
		}
	}
	.contact-hero {
		min-height: 70vh;
		&__map-container {
			left: 45%;
			top: auto;
			bottom: 50px;
			width: 60%;
		}
		&__cta-container {
			right: 100px;
		}
		&__header {
			&:hover {
				.contact-hero__name {
					transform: translateX(10px);
				}
			}
		}
		&__header {
			&:hover {
				.contact-hero__name {
					transform: translateX(10px);
				}
			}
		}
		&__title {
			margin-top: 50px;
			font-size: rem(70);
			width: 33.33333%;
			margin-bottom: 55px;
		}
		&__list {
			width: 60%;
			padding-left: 50px;
		}
		&__name {
			font-size: rem(30);
			transform: translateX(0px);
			transition: 0.25s ease;
		}
		&__suffix {
			font-size: rem(14);
		}
		&__address {
			margin: 15px 0 25px 0;
			font-size: rem(16);
		}
		&__hours {
			margin-bottom: 15px;
		}
		&__phone-type,
		&__phone-number {
			font-size: rem(17);
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.contact-support {
		&__background {
			width: 50%;
		}
		&__foreground-image {
			width: calc(100% - 120px);
			height: 100%;
			max-width: 600px;
			max-height: 600px;
		}
		&__container {
			padding-top: 190px;
			padding-bottom: 80px;
		}
		&__note {
			font-size: rem(16);
			width: 8.33333%;
			top: 110px;
			left: 100px;
		}
		&__note-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__info {
			width: 33.33333%;
			margin-right: 8.33333%;
			margin-left: 58.33333%;
			padding-bottom: 150px;
			&:after {
				width: 300%;
				left: -175%;
			}
		}
		&__title {
			font-size: rem(45);
			margin-bottom: 40px;
		}
		&__title-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__text {
			font-size: rem(30);
			margin-bottom: 30px;
		}
		&__text-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__phone-item {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__phone-list {
			margin: 0;
		}
		&__phone-type,
		&__phone-number {
			font-size: rem(17);
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.contact-form {
		&__background {
			transform: scale(1.5);
		}
		&__container {
			padding-top: 180px;
			padding-bottom: 180px;
		}
		&__title {
			width: 75%;
			margin-left: 12.5%;
			margin-right: 12.5%;
			margin-bottom: 50px;
			padding-right: 0px;
			padding-top: 20px;
			font-size: rem(35);
		}
		&__title-content-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__form-container {
			width: 75%;
			margin: 0 12.5%;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 100px, 0);
		}
	}
}

@include min-width(1350px) {
	.contact-hero {
		&__list {
			width: 40%;
		}
	}
}
