// ==========================================================================
// TEMPLATES - Jobs
// ==========================================================================

.jobs-benefits {
	background-color: $navy;
	margin-top: 25px;
	position: relative;
	overflow: hidden;
	&__background {
		position: absolute;
		left: -50%;
		top: -140px;
		width: 140%;
		opacity: 0.3;
		transform: rotate(115deg);
	}
	&__container {
		@include container;
		padding-top: 90px;
		padding-bottom: 125px;
		position: relative;
		z-index: 1;
	}
	&__logo {
		position: absolute;
		width: 25px;
		right: 15px;
		bottom: 40px;
	}
	&__info {
		margin-bottom: 80px;
	}
	&__title {
		font-size: rem(25);
		font-weight: 500;
		color: $white;
		width: 83.33333%;
		margin-bottom: 40px;
	}
	&__title-word {
		display: inline-block;
	}
	&__text {
		font-size: rem(15);
		font-weight: 500;
		color: $white;
		line-height: 1.6;
	}
	&__text-word {
		display: inline-block;
	}
	&__item {
		width: 83.33333%;
		padding-top: 15px;
		margin-bottom: 50px;
		position: relative;
		&:last-of-type {
			margin-bottom: 0px;
		}
		&:before {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $white;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
	&__item-num {
		font-size: rem(17);
		font-weight: 400;
		color: $white;
		margin-bottom: 10px;
	}
	&__item-text {
		font-size: rem(17);
		font-weight: 500;
		line-height: 1.4;
		color: $white;
	}
}

.jobs-values {
	&__container {
		@include container;
		padding-top: 80px;
		padding-bottom: 120px;
	}
	&__info {
		margin-bottom: 50px;
	}
	&__title {
		font-size: rem(20);
		font-weight: 500;
		line-height: 1.2;
		color: $navy;
		margin: 0;
		width: 66.66666%;
	}
	&__name-list {
		display: none;
	}
	&__button-container {
		position: absolute;
		top: 80px;
		right: 0px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__nav {
		background-color: $teal;
		height: rem(35);
		width: rem(35);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-right: 1em;
		svg {
			width: 60%;
		}
	}
	&__grid-list {
		.flickity-viewport {
			overflow: visible;
		}
	}
	&__grid-item {
		width: 66.66666%;
		margin-right: 35px;
		&.is-selected {
			.jobs-values {
				&__name {
					color: $teal;
				}
				&__picto {
					&--teal {
						opacity: 1;
					}
					&--gray {
						opacity: 0;
					}
				}
				&__text {
					color: $navy;
				}
			}
		}
	}
	&__toggler {
		display: none;
	}
	&__name {
		font-size: rem(22);
		font-weight: 500;
		color: $gray;
		margin-bottom: 30px;
		width: fit-content;
	}
	&__picto-container {
		height: 105px;
		margin-bottom: 20px;
		position: relative;
	}
	&__picto {
		height: 100%;
		transform: scale(1);
		transition: 0.25s ease-in-out;
		&--teal {
			opacity: 0;
		}
		&--gray {
			position: absolute;
			top: 0px;
		}
	}
	&__text {
		font-size: rem(15);
		font-weight: 500;
		line-height: 1.5;
		color: $gray;
	}
	&__name-item {
		width: fit-content;
	}
}

.jobs-internship {
	background-color: $navy;
	position: relative;
	&__background {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 250px;
	}
	&__foreground-image {
		position: absolute;
		z-index: 1;
		width: 60%;
	}
	&__backgound-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0.35;
		filter: grayscale(100%);
	}
	&__container {
		@include container;
		padding-top: 70px;
		padding-bottom: 60px;
	}
	&__note {
		position: absolute;
		top: 40px;
		left: 20px;
		font-size: rem(14);
		font-weight: 500;
		line-height: 1.2;
		color: $white;
		width: 33.33333%;
	}
	&__note-word {
		display: inline-block;
	}
	&__info {
		padding-bottom: 80px;
		position: relative;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $white;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
	&__title {
		font-size: rem(30);
		font-weight: 500;
		line-height: 1.2;
		color: $white;
		margin-bottom: 40px;
	}
	&__title-word {
		display: inline-block;
	}
	&__text {
		font-size: rem(15);
		font-weight: 500;
		line-height: 1.6;
		color: $white;
		margin-bottom: 60px;
	}
	&__text-word {
		display: inline-block;
	}
	&__link {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: rem(13);
		font-weight: 500;
		color: $white;
		padding: 0 20px 15px 20px;
		position: relative;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $white;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
	&__link-icon {
		transform-origin: center;
		transform: rotate(225deg);
		margin-left: 15px;
	}
}

.jobs-careers {
	&__container {
		@include container;
		padding-top: 80px;
		padding-bottom: 120px;
	}
	&__title {
		font-size: rem(40);
		font-weight: 500;
		color: $navy;
		width: 66.66666%;
		margin-bottom: 50px;
	}
	&__title-word {
		display: inline-block;
	}
	&__filter {
		margin-bottom: 100px;
		@include jobsFilters;
	}
	&__filters-arrow {
		transform-origin: center;
		margin-left: 10px;
		transform: rotate(0);
		transition: 0.25s ease;
	}
	&__job {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-bottom: 15px;
		padding: 20px;
		background-color: #d5d5d5;
		cursor: none;
	}
	&__job-header {
		width: 100%;
		margin-bottom: 1em;
	}
	&__job-name {
		font-size: rem(20);
		font-weight: 500;
		color: $navy;
		margin-bottom: 5px;
		word-wrap: break-word;
	}
	&__location {
		font-size: rem(12);
		font-weight: 500;
		color: $navy;
	}
	&__job-link {
		font-size: rem(13);
		font-weight: 500;
		color: $navy;
	}
	&__job-link-icon {
		transform-origin: center;
		transform: rotate(225deg);
		margin-left: 7px;
		top: 3px;
		position: relative;
	}
	&__pagination {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 40px;
		.page-numbers {
			font-size: rem(16);
			font-weight: 500;
			line-height: 2.3;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: $teal;
			color: $white;
			margin-right: 10px;
			opacity: 0.3;
			&.current {
				opacity: 1;
			}
		}
	}
}

@include tablet-only {
	.page-template-tp-jobs {
		.tilted-slider {
			&__list {
				transform: translateX(-33.33333%) rotate(2deg) scale(0.9);
			}
		}
	}
	.jobs-benefits {
		position: relative;
		overflow: initial !important;
		&__background {
			top: -150px;
			width: 100%;
			opacity: 0.1;
		}
		&__container {
			padding-top: 100px;
			padding-bottom: 200px;
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
		}
		&__logo {
			top: 40px;
			right: 40px;
			bottom: auto;
		}
		&__info {
			width: calc(50% - 8px);
			margin-right: 8px;
			margin-bottom: 0px;
			position: sticky;
			top: 150px;
		}
		&__title {
			width: 75%;
		}
		&__list-container {
			width: calc(50% - 80px);
			position: relative;
		}
		&__item {
			width: 100%;
			margin-bottom: 40px;
		}
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 250px;
			position: absolute;
			z-index: 2;
			bottom: 0px;
			left: 0px;
			opacity: 0;
			background: linear-gradient(180deg, rgba(5, 28, 47, 0.14889705882352944) 0%, rgba(5, 28, 47, 1) 100%);
		}
	}
	.jobs-values {
		&__container {
			padding-top: 90px;
			padding-bottom: 100px;
			position: relative;
		}
		&__info {
			margin-bottom: 10px;
		}
		&__title {
			width: 25%;
		}
		&__name-list {
			display: block;
			position: relative;
			top: initial;
			bottom: initial;
			left: initial;
			right: initial;
			float: left;
			margin-top: 10em;
		}
		&__name-item {
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0px;
			}
			&--opened {
				.jobs-values {
					&__name {
						color: $teal;
					}
				}
			}
		}
		&__name {
			font-size: rem(18);
			font-weight: 500;
			margin-bottom: 0px;
		}
		&__button-container {
			display: none;
		}
		&__grid {
			width: 75%;
			margin-left: 25%;
		}
		&__grid-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 60px;
		}
		&__grid-item {
			position: relative;
			width: 100%;
			margin-right: 0px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;

			&--opened {
				justify-content: flex-start;
				.jobs-values {
					&__picto-container {
						width: 40%;
						margin: 0px 0 20px 0;
					}
					&__picto {
						&--teal {
							opacity: 1;
						}
						&--gray {
							opacity: 0;
						}
					}
					&__text {
						display: block;
						opacity: 1;
					}
				}
			}
		}
		&__toggler {
			font-size: rem(18);
			color: $white;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: $gray;
			transform: rotate(0deg);
			transform-origin: center;
			transition: 0.25s ease-in-out;
			&--opened {
				background-color: $teal;
				transform: rotate(45deg);
			}
		}
		&__name {
			&--mobile {
				display: none;
			}
		}
		&__picto-container {
			width: 80%;
			height: fit-content;
			margin: 20px 0;
			transition: 0.25s ease;
		}
		&__picto {
			transition: 0.25s ease;
		}
		&__text {
			opacity: 0;
			color: $navy;
			transition: opacity 0.25s ease-in-out;
		}
	}
	.jobs-internship {
		&__background {
			position: absolute;
			width: calc(50% - 50px);
			height: 100%;
			overflow: hidden;
		}
		&__foreground-image {
			width: 130%;
			height: 130%;
		}
		&__container {
			padding-top: 100px;
			padding-bottom: 60px;
		}
		&__note {
			top: 60px;
			left: 40px;
			width: 25%;
			z-index: 2;
		}
		&__info {
			width: 50%;
			margin-left: 50%;
			padding-bottom: 60px;
			&:after {
				width: 200%;
				left: auto;
				right: 0px;
				z-index: 1;
			}
		}
	}
	.jobs-careers {
		&__container {
			padding-top: 80px;
			padding-bottom: 120px;
		}
		&__title {
			width: 30%;
			margin-bottom: 55px;
		}
		&__main {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			position: relative;
		}
		&__filter {
			width: 37.5%;
			margin-bottom: 0px;
		}
		&__grid {
			width: 62.5%;
		}
		&__jobs-list {
			display: grid;
			grid-template-columns: minmax(0, 1fr) 1fr;
			grid-gap: 16px;
		}
		&__job {
			max-width: 100%;
			margin-bottom: 0px;
		}
		&__job-header {
			max-width: 100%;

			margin-bottom: 50px;
		}
		&__pagination {
			margin-top: 55px;
		}
	}
}

@include desktop-only {
	.jobs-benefits {
		padding-top: 100px;
		padding-bottom: 240px;
		overflow: hidden !important;
		height: fit-content;
		&__background {
			top: -15%;
			left: -25%;
			width: 50%;
		}
		&__container {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			padding-top: 0;
			padding-bottom: 0px;
			margin-bottom: 0;
			position: relative;
		}
		&__logo {
			top: 55px;
			right: 65px;
		}
		&__info {
			padding-top: 120px;
			height: auto;
			width: 41.66666%;
			margin: 0;
			position: relative;
			z-index: 3;
			top: 0;
		}
		&__title {
			font-size: rem(35);
			margin-bottom: 25px;
		}
		&__title-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__text {
			font-size: rem(19);
			padding-bottom: 0px;
		}
		&__text-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__text-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__list-container {
			padding-top: 120px;
			position: relative;
			width: 33.33333%;
			top: auto;
			right: auto;
		}
		&__item {
			padding-top: 20px;
			margin-bottom: 80px;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__item-num {
			font-size: rem(17);
			margin-bottom: 15px;
		}
		&__item-text {
			font-size: rem(22);
		}
	}
	.jobs-values {
		&__container {
			padding-top: 140px;
			padding-bottom: 180px;
		}
		&__info {
			position: relative;
			display: block;
		}
		&__title {
			font-size: rem(30);
			width: 25%;
			margin-bottom: 3em;
		}
		&__title-word {
			display: inline-block;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__name-list {
			width: 16.66666%;
			position: relative;
			top: initial;
			bottom: initial;
			left: initial;
			right: initial;
			float: left;
			margin-top: 2em;
		}
		&__name-item {
			margin-bottom: 25px;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 50px, 0);
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
		&__name {
			font-size: rem(22);
			transition: color 0.25s ease;
			&:hover {
				color: $teal;
			}
		}
		&__grid-list {
			grid-gap: 120px;
			row-gap: 0px;
		}
		&__grid-item {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			min-height: rem(300);
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 50px, 0);
			&--opened {
				.jobs-values {
					&__picto {
						transform: scale(0.7);
					}
				}
			}
		}
		&__toggler {
			font-size: rem(22);
			width: 24px;
			height: 24px;
		}
		&__text {
			font-size: rem(19);
		}
		&__picto-container {
			width: 60%;
		}
	}
	.jobs-internship {
		&__background {
			width: 50%;
		}
		&__foreground-image {
			width: calc(100% - 120px);
			height: 100%;
			max-width: 600px;
			max-height: 600px;
		}
		&__container {
			padding-top: 190px;
			padding-bottom: 80px;
		}
		&__note {
			font-size: rem(16);
			width: 8.33333%;
			top: 110px;
			left: 100px;
		}
		&__note-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__info {
			width: 33.33333%;
			margin-right: 8.33333%;
			margin-left: 58.33333%;
			padding-bottom: 150px;
			&:after {
				width: 300%;
				left: -175%;
			}
		}
		&__title {
			font-size: rem(45);
			margin-bottom: 30px;
		}
		&__title-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__text {
			font-size: rem(19);
			margin-bottom: 70px;
		}
		&__text-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__link {
			font-size: rem(15);
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
			&:after {
				transform-origin: center;
				transform: scaleX(1);
				transition: transform 0.25s ease;
			}
			&:hover {
				&:after {
					transform: scaleX(0.8);
				}
				.jobs-internship__link-icon {
					transform: rotate(270deg);
					transition: transform 0.25s ease;
				}
			}
		}
		&__link-icon {
			transform: translate(0, 0) rotate(225deg);
			transition: transform 0.25s ease;
		}
	}
	.jobs-careers {
		&__container {
			padding-top: 90px;
			padding-bottom: 160px;
		}
		&__title {
			width: 16.66666%;
			margin-bottom: 0px;
		}
		&__title-word {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 150%, 0);
		}
		&__filter {
			width: 25%;
			margin-right: 8.33333%;
			margin-top: 60px;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 100px, 0);
		}
		&__grid {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 100px, 0);
		}
		&__job {
			padding: 30px;
			transition: background-color 0.25s ease;
			&:hover {
				background-color: $yellow;
				.jobs-careers__job-link-icon {
					transform: rotate(270deg);
				}
			}
		}
		&__header {
			margin-bottom: 40px;
		}
		&__job-name {
			font-size: rem(22);
		}
		&__location {
			font-size: rem(14);
		}
		&__job-link {
			font-size: rem(15);
		}
		&__job-link-icon {
			will-change: transform;
			transition: transform 0.25s ease;
		}
		&__pagination {
			margin-top: 50px;
			.page-numbers {
				font-size: rem(21);
				line-height: 1.8;
			}
		}
	}
}
