// ==========================================================================
// TEMPLATES - FAQ
// ==========================================================================

.page-template-tp-faq {
	.page-body {
		background-color: $navy;
	}
}

.faq {
	position: relative;
	&__background {
		top: 50px;
		position: absolute;
		transform: rotate(-125deg);
		transform-origin: center;
		right: -50%;
		width: 100%;
		opacity: 0.1;
	}
	&__container {
		@include container;
		padding-bottom: 140px;
		position: relative;
		z-index: 1;
	}
	&__title {
		font-size: rem(40);
		font-weight: 500;
		color: $white;
		margin-bottom: 50px;
	}
	&__filters {
		margin-bottom: 80px;
		@include faqFilters;
	}
	&__answer {
		margin-bottom: 30px;
		&--closed {
			.faq {
				&__answer-content {
					display: none;
				}
			}
		}
	}
	&__answer-title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(18);
		font-weight: 500;
		color: $white;
		margin-bottom: 45px;
		padding-right: 30px;
		position: relative;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			bottom: -15px;
			left: 0px;
			position: absolute;
			background-color: $white;
		}
	}
	&__answer-icon {
		position: absolute;
		right: 0px;
	}
	&__answer-content {
		padding-bottom: 30px;
		p {
			font-size: rem(13);
			font-weight: 500;
			line-height: 1.4;
			color: $white;
			margin-bottom: 30px;
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
		a {
			font-size: rem(13);
			font-weight: 500;
			line-height: 1.4;
			color: $yellow;
			margin-bottom: 30px;
		}
		ul {
			margin-bottom: 30px;
		}
		li {
			font-size: rem(13);
			font-weight: 500;
			line-height: 1.4;
			color: $white;
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
	}
}
