// ==========================================================================
// TEMPLATES - Philanthropy
// ==========================================================================
.page-template-tp-philanthropy {
	.tilted-slider {
		&__illustration {
			width: 100%;
			position: absolute;
			bottom: 0;
			-webkit-transform: translate(110%, 30%);
			transform: translate(50%, 30%);
		}
	}

	@include tablet-only {
		.tilted-slider {
			&__list {
				transform: translateX(-33.33333%) rotate(1deg) scale(0.9);
			}
			&__illustration {
				width: 70%;
				position: absolute;
				bottom: 0;
				transform: translate(80%, 40%);
			}
		}
	}
	@include desktop-only {
		.tilted-slider {
			margin-top: 0px;
			margin-bottom: 0px;
			margin: 3em 0;
			&__title {
				width: 33.33333%;
				margin: 0 33.33333%;
			}
			&__list {
				transform: translateX(-33.33333%) rotate(1deg) scale(0.9);
			}
			&__item {
				width: calc(20% - 10px);
			}
			&__illustration {
				bottom: 0;
				width: 50%;
				transform: translate(150%, 20%);
			}
		}
	}
}
.philanthropy-highlight {
	padding: 5em 0 4em 0;
	&__container {
		@include container;
	}
	&__note-container {
		padding: 1em 0;
	}
	&__note {
		@include note;
		width: rem(85);
	}
	&__text {
		font-size: rem(20);
		line-height: 1.4em;
	}
}

.philanthropy-financing {
	background-color: $gray;
	padding-top: 1em;
	&__container {
		@include container;
	}
	&__main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 2em 0 0 0;
		padding: 1em 0 0 0;
	}
	&__top {
		padding: 2em 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-top: 1px solid $black;
	}
	&__icon {
		width: rem(15);
		margin-right: 0.5em;
	}
	&__note {
		@include note;
		margin-bottom: -0.2em;
	}
	&__amount-container {
		position: absolute;
	}
	&__amount {
		font-size: rem(45);
		opacity: 0.1;
	}
	&__logo-container {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		max-width: 100%;
		column-gap: 4em;
		row-gap: 3em;
		max-width: rem(1800);
		margin: auto;
		padding: 0 2em;
	}
	&__item {
		border-radius: 50%;
		overflow: hidden;
		background-color: $white;
	}
	&__logo {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	&__bottom-icon {
		width: rem(25);
		height: rem(25);
		margin: 3em auto 2em auto;
		filter: brightness(1);
	}
	&__bottom-svg {
		width: 100%;
		height: 100%;
	}
}
.philanthropy-house {
	&__container {
		@include container;
	}

	&__note {
		width: rem(150);
		@include note;
		margin: 3em 0;
	}
	&__image {
		transform: translateX(-15%);
	}
	&__media {
		margin: 2em 0;
	}
	&__plus {
		height: 85%;
		width: 62%;
		transform: scale(1);
		transition: transform 0.2s ease-in-out;
	}
	&__toggle {
		color: $white;
		font-size: rem(30);
		background-color: $teal;
		border-radius: 50%;
		height: rem(35);
		width: rem(35);
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		letter-spacing: 0;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		transform: translateY(-60px) scale(1);
		transition: background-color 0.5s linear 0.5s, transform 0.5s ease-in-out 0.3s;
		&--animate {
			background-color: $white;
			transform: translateY(-60px) scale(100);
			> * {
				transform: scale(0);
			}
		}
	}
	&__info {
		@include container;
	}
	&__title {
		font-size: rem(30);
		margin-bottom: 1.2em;
	}
	&__text {
		font-size: rem(15);
		line-height: 1.4em;
	}
	&__subtext {
		font-size: rem(13);
		margin-top: 1em;
		margin-bottom: 2em;
		line-height: 1.4em;
	}
	&__link-container {
		display: flex;
		flex-direction: column;
		width: 70%;
		align-items: flex-start;
	}
	&__phone {
		color: $navy;
		font-size: rem(13);
	}
	&__website {
		color: $navy;
		font-size: rem(13);
	}
}

.philanthropy-research {
	background-color: $navy;
	&__container {
		position: relative;
	}
	&__foreground {
		@include container;
		padding-top: 1em;
		padding-bottom: 1em;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		height: 100%;
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
		&--hide {
			pointer-events: none;
			opacity: 0;
		}
	}
	&__background {
		height: 100%;
		width: 100%;
		display: flex;
		position: absolute;
		top: 0;
		opacity: 1;
		max-width: 1600px;
	}
	&__top-container {
		height: 20%;
		width: 100%;
		position: absolute;
		@include container;
		z-index: 9;
	}
	&__left-container {
		@include container;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		justify-content: flex-end;
		padding-bottom: 2em;
	}
	&__background-text {
		color: $white;
		opacity: 0;
		display: flex;
		align-items: center;
		font-size: 14px;
		margin: 2em 0;
		transition: opacity 0.3s ease-in-out;
		&--visible {
			opacity: 1;
		}
	}
	&__background-list {
		flex: 1;
		opacity: 0.25;
		transition: opacity 0.3s ease-in-out;
		.flickity-viewport {
			height: 100% !important;
		}
		&--visible {
			opacity: 1;
		}
	}
	&__background-item {
		height: 100%;
		width: 100%;
	}
	&__background-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__text {
		color: $white;
		font-size: rem(20);
		line-height: 1.6em;
		margin: 2em 0 3em 0;
	}
	&__top {
		border-top: $white 1px solid;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: 2em 0;
		margin-top: 2em;
	}
	&__background-top {
		border-top: $white 1px solid;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: 2em 0;
		margin-top: 2em;
		z-index: 9;
		opacity: 0;
		transition: opacity 0.2s linear;
		&--visible {
			opacity: 1;
		}
	}
	&__icon {
		width: rem(15);
		margin-right: 1em;
	}
	&__note {
		color: $white;
		height: rem(20);
		max-width: rem(175);
	}
	&__logo {
		width: rem(30);
		align-self: flex-end;
		margin-top: 1em;
	}
	&__close-container {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}
	&__close {
		width: rem(37);
		height: rem(37);
		background-color: $white;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
		&--visible {
			opacity: 1;
		}
	}
	&__close-svg {
		width: 50%;
		transform: scaleX(-1);
	}
	&__toggle-container {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}

	&__toggle {
		width: rem(37);
		height: rem(37);
		background-color: $teal;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__toggle-svg {
		width: 50%;
	}
	&__link-container {
		margin-bottom: 3em;
	}
	&__link {
		@include button-primary;
	}
}
.philanthropy-borders {
	padding: 1em 0;
	&__top-container {
		@include container;
	}
	&__top {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-top: 1px solid $navy;
		padding: 2em 0;
		position: relative;
	}
	&__icon {
		width: 15px;
		margin-right: 1em;
	}
	&__note {
		@include note;
		height: rem(12);
		margin-bottom: 0;
	}
	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 9.0625rem;
		position: absolute;
		top: 100%;
		right: 0;
	}
	&__cta-text {
		color: $navy;
		font-weight: 700;
		font-size: 0.8125rem;
	}
	&__cta-icon {
		position: absolute;
		height: 1.25rem;
		width: 1.25rem;
		transform: rotate(0deg);
	}
	&__image {
		transform: translateX(-15%);
	}
	&__media {
		margin: 2em 0;
	}
	&__plus {
		height: 85%;
		width: 62%;
		transform: scale(1);
		transition: transform 0.2s ease-in-out;
	}
	&__toggle {
		color: $white;
		font-size: rem(30);
		background-color: $teal;
		border-radius: 50%;
		height: rem(35);
		width: rem(35);
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		letter-spacing: 0;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		transform: translateY(-60px) scale(1);
		transition: background-color 0.2s linear 0.5s, transform 0.2s ease-in-out 0.3s;
		&--animate {
			background-color: $white;
			transform: translateY(-60px) scale(100);
			> * {
				transform: scale(0);
			}
		}
	}
	&__info {
		@include container;
	}
	&__title {
		font-size: rem(30);
		margin-bottom: 1.2em;
		margin-top: 1.2em;
		width: rem(245);
	}
	&__text {
		font-size: rem(15);
		line-height: 1.7em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	&__subtext {
		font-size: rem(13);
		margin-top: 1em;
		margin-bottom: 2em;
		line-height: 1.4em;
	}

	&__data-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
	}
	&__data-item {
		display: flex;
		flex-direction: column;
	}
	&__data-content {
		font-size: rem(20);
	}
	&__data-label {
		font-size: rem(15);
		font-weight: 400;
		line-height: 1em;
		margin-top: 0.5em;
	}
}
.philanthropy-grant {
	background-color: $gray;
	overflow: hidden;
	padding: 1em 0;
	&__container {
		@include container;
		position: relative;
		z-index: 2;
	}
	&__background {
		position: absolute;
		width: rem(660);
		transform: rotate(-25deg);
		z-index: 1;
	}
	&__info {
		padding: 3em 0;
		padding-right: 15%;
	}
	&__text {
		font-size: rem(20);
	}
	&__link-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 5em;
	}
	&__link {
		cursor: none;
		width: fit-content;
		@include button-download;
		&--alt {
			@include button-secondary;
		}
		align-items: center;
	}
}

@include tablet-only {
	.philanthropy-highlight {
		padding: 5em 0 6em 0;
		&__container {
			display: flex;
		}
		&__note-container {
			padding: 0;
			margin-right: 1.5em;
		}
		&__text {
			line-height: 1.5em;
			width: 90%;
		}
	}
	.philanthropy-financing {
		&__amount-container {
			display: flex;
			height: 100%;
			justify-content: center;
			align-items: center;
			z-index: 1;
		}
		&__amount {
			font-size: rem(90);
		}
		&__list {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			column-gap: 4em;
			position: relative;
			z-index: 2;
			margin: 2em 0;
		}
		&__bottom-icon {
			width: rem(15);
		}
	}
	.philanthropy-house {
		padding-bottom: 3em;
		&__main {
			display: flex;
		}
		&__media {
			@include container;
			flex: 1;
			position: relative;
			padding-right: 0;
		}
		&__image {
			width: 135%;
			transform: translateX(-30%);
		}
		&__info {
			flex: 1;
			padding-left: 0;
		}

		&__title {
			width: rem(160);
		}
		&__text {
			line-height: 1.6em;
		}
		&__subtext {
			line-height: 1.6em;
			margin-top: 2em;
		}
	}
	.philanthropy-research {
		&__background {
			height: 100%;
		}
		&__background-text {
			font-size: rem(20);
		}
		&__background-list {
			flex-basis: 50%;
		}
		&__left-container {
			flex-basis: 50%;
		}
		&__note {
			@include note;
			color: $white;
		}
		&__text-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__text {
			width: 70%;
		}
		&__top {
			margin-top: 1em;
		}
		&__logo {
			width: rem(20);
		}
	}
	.philanthropy-borders {
		&__main {
			display: flex;
			flex-direction: row-reverse;
		}
		&__media {
			@include container;
			flex: 1;
			position: relative;
			padding-left: 0;
		}
		&__image {
			width: 135%;
			transform: translateX(3%);
		}
		&__info {
			flex: 1;
			padding-right: 0;
		}
		&__cta {
			top: 50%;
		}
		&__title {
			width: 100%;
			margin-top: 0;
			line-height: 1.3;
		}
		&__note {
			width: rem(160);
		}
		&__text {
			line-height: 1.6em;
		}
		&__subtext {
			line-height: 1.6em;
			margin-top: 2em;
		}
		&__main {
			margin-top: 3em;
		}
		&__toggle {
			left: unset;
			right: 10%;
			margin: none;
		}
	}
	.philanthropy-grant {
		&__link-container {
			align-items: flex-start;
		}
		&__link {
			width: rem(260);
		}
		&__text {
			max-width: 70%;
		}
		&__background {
			transform: translate(50%, 6%) rotate(-25deg);
		}
	}
}

@include desktop-only {
	.philanthropy-highlight {
		&__note-container {
			margin-right: 8em;
			margin-top: 1em;
		}
		&__text {
			font-size: rem(40);
			width: 75%;
		}
	}
	.philanthropy-financing {
		padding-bottom: 4em;
		&__icon {
			margin-right: 1.5em;
		}
		&__amount-container {
			width: 100%;
		}
		&__amount {
			font-size: rem(180);
		}
		&__list {
			column-gap: 8em;
			row-gap: 5em;
		}
		&__bottom-icon {
			width: rem(40);
			height: rem(40);
			margin: 6em auto 1em auto;
		}
	}
	.philanthropy-house {
		padding-bottom: 10em;
		&__top {
			margin-top: 2em;
			margin-bottom: 3em;
		}
		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			font-size: rem(50);
			width: 70%;
		}
		&__text {
			font-size: rem(20);
			width: 70%;
		}
		&__subtext {
			font-size: rem(16);
			width: 70%;
		}
		&__media {
			padding: 0;
			margin: 0;
		}
		&__image {
			width: 120%;
			transform: translateX(-25%);
		}
		&__toggle {
			transform: translateY(-100px) scale(1);
			transition: background-color 0s linear 0s, transform 0s ease-in-out 0s;
			&--animate {
				transform: translateY(-100px) scale(100);
				transition: background-color 0.2s linear 0.8s, transform 1s ease-in-out 0.3s;
			}
		}
		&__phone {
			color: $navy;
			font-size: rem(16);
		}
		&__website {
			color: $navy;
			font-size: rem(16);
		}
	}
	.philanthropy-research {
		&__top {
			margin-top: 2em;
		}
		&__text-container {
			width: 65%;
		}
		&__text {
			font-size: rem(40);
			line-height: 1.35em;
			width: 90%;
		}
		&__foreground {
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
			left: 0;
			right: 0;
		}
		&__background {
			height: 100%;
			margin: auto;
			left: 0;
			right: 0;
		}
		&__background-list {
			flex-basis: 50%;
			transition: flex-basis 0.3s ease-in-out;
			&--visible {
				flex-basis: 130%;
			}
		}
		&__toggle-container {
			position: absolute;
			width: 15%;
			right: 0%;
			bottom: 35%;
		}
		&__toggle {
			width: 60px;
			height: 60px;
		}
		&__left-container {
			justify-content: flex-end;
		}
		&__close-container {
			margin-bottom: 5em;
			margin-top: 3em;
		}
		&__close {
			width: 60px;
			height: 60px;
		}
		&__logo {
			width: 1.5rem;
			position: absolute;
			right: 5%;
			bottom: 5%;
		}
	}
	.philanthropy-borders {
		padding-bottom: 5em;
		&__note {
			width: 100%;
		}
		&__top {
			margin-top: 2em;
		}
		&__title {
			font-size: rem(50);
			width: 80%;
		}
		&__text {
			font-size: rem(20);
			width: 70%;
		}
		&__subtext {
			font-size: rem(16);
			width: 70%;
		}
		&__media {
			padding: 0;
		}
		&__main {
			@include container;
		}
		&__info {
			padding-left: 6.25em;
		}
		&__image {
			width: 90%;
			transform: translateX(-15%);
		}
		&__toggle {
			margin: auto;
			left: 0;
			right: 0;
			transform: translate(150px, -45px) scale(1);
			transition: background-color 0s linear 0s, transform 0s ease-in-out 0s;
			&--animate {
				transform: translate(150px, -45px) scale(100);
				transition: background-color 0.2s linear 0.8s, transform 1s ease-in-out 0.3s;
			}
		}
		&__data-list {
			max-width: rem(400);
		}
		&__image {
			width: 100%;
			transform: translateX(0);
		}
	}
	.philanthropy-grant {
		padding-bottom: 10em;
		&__text {
			max-width: 50%;
			font-size: rem(30);
		}
		&__link-container {
			flex-direction: row;
			padding-left: 6.25em;
		}
		&__info {
			padding-left: 6.25em;
		}
		&__background {
			width: rem(900);
			transform: translate(25%, 35%) rotate(-25deg);
			right: 0;
			bottom: 0;
		}

		&__link {
			margin: 0;
			height: rem(82);
			display: flex;
			align-items: center;
			&--alt {
				margin-left: 2em;
			}
		}
	}
}
