// ==========================================================================
// TEMPLATES - Team
// ==========================================================================

.team-hero {
	&__container {
		@include container;
		padding-bottom: 120px;
	}
	&__top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 50px;
		margin-bottom: 35px;
		position: relative;
		&:before {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $gray;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
	&__icon {
		width: 15px;
		margin-right: 10px;
		transform: translateY(-2px);
	}
	&__note {
		font-size: rem(14);
		font-weight: 500;
		color: $navy;
	}
	&__info {
		margin-bottom: 50px;
	}
	&__title {
		font-size: rem(43);
		font-weight: 500;
		color: $navy;
		margin-bottom: 20px;
	}
	&__text {
		font-size: rem(15);
		font-weight: 500;
		line-height: 1.5;
		color: $navy;
	}
	&__image {
		width: calc(100% + 40px);
		transform: translateX(-40px);
	}
}

.team-grid {
	background-color: $gray;
	&__container {
		@include container;
		padding-top: 80px;
		padding-bottom: 120px;
	}
	&__top {
		margin-bottom: 55px;
	}
	&__title {
		font-size: rem(40);
		font-weight: 500;
		color: $navy;
		margin-bottom: 0px;
	}
	&__division-list {
		margin-bottom: 60px;
	}
	&__division-item {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__division-anchor {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: rem(18);
		font-weight: 500;
		color: $navy;
	}
	&__division-icon {
		margin-left: 15px;
		transform-origin: center;
		transform: rotate(225deg);
	}
	&__division-grid {
		margin-bottom: 80px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__division-member {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__image {
		width: 100%;
		height: 250px;
		object-fit: cover;
		object-position: center top;
	}
	&__member-content {
		background-color: #d5d5d5;
		padding: 20px 20px 60px 20px;
	}
	&__name {
		font-size: rem(20);
		font-weight: 500;
		color: $navy;
		margin-bottom: 5px;
		line-height: 1.2em;
	}
	&__credit {
		&:first-of-type {
			margin-left: 0.3em;
		}
	}
	&__position {
		font-size: rem(12);
		font-weight: 500;
		color: $navy;
	}
}

@include tablet-only {
	.team-hero {
		&__container {
			padding-top: 40px;
			padding-bottom: 350px;
			position: relative;
		}
		&__top {
			padding-left: 35px;
			padding-right: 35px;
			padding-top: 50px;
			margin-bottom: 100px;
		}
		&__main {
			padding: 0 35px;
		}
		&__info {
			margin-bottom: 0px;
		}
		&__title {
			width: 62.5%;
			font-size: rem(70);
			margin-bottom: 40px;
		}
		&__text {
			width: 50%;
		}
		&__image {
			position: absolute;
			top: 50px;
			right: -190px;
			width: calc(100% - 80px);
			transform: translateX(0px);
		}
	}
	.team-grid {
		&__container {
			padding-top: 80px;
			padding-bottom: 120px;
		}
		&__top {
			width: 50%;
		}
		&__grid {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}
		&__division-list {
			width: 37.5%;
			padding-right: 25px;
			margin-bottom: 0px;
		}
		&__members {
			width: 62.5%;
		}
		&__division-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 16px;
			&:last-of-type {
				.team-grid {
					&__member-content {
						height: 100%;
					}
				}
			}
		}
		&__division-member {
			margin-bottom: 0px;
		}
		&__image {
			height: 175px;
		}
		&__member-content {
			height: calc(100% - 175px);
			padding: 20px 20px 45px 20px;
		}
	}
}

@include desktop-only {
	.team-hero {
		&__container {
			padding-top: 2em;
			padding-bottom: 8em;
		}
		&__top {
			padding-top: 35px;
			padding-left: 0px;
			padding-right: 0px;
			margin-bottom: 110px;
		}
		&__icon {
			margin-right: 25px;
		}
		&__note {
			font-size: rem(16);
		}
		&__main {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			padding: 0;
		}
		&__info {
			width: 33.33333%;
			margin-right: 8.33333%;
			padding-top: 130px;
		}
		&__title {
			width: 100%;
			font-size: rem(70);
			margin-bottom: 15px;
		}
		&__text {
			width: 100%;
			font-size: rem(19);
		}
		&__image {
			width: 58.33333%;
			position: relative;
			top: auto;
			right: auto;
		}
	}
	.team-grid {
		&__container {
			padding-top: 90px;
			padding-bottom: 170px;
		}
		&__top {
			width: 25%;
			margin-bottom: 0px;
		}
		&__title {
			font-size: rem(40);
		}
		&__division-list {
			width: 25%;
			padding-top: 60px;
		}
		&__members {
			width: 75%;
		}
		&__division-grid {
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 30px;
			grid-column-gap: 16px;
		}
		&__division-anchor {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			font-size: rem(18);
			font-weight: 500;
			color: $navy;
			&:hover {
				.team-grid__division-icon {
					transform: rotate(270deg);
				}
			}
		}
		&__division-icon {
			margin-left: 15px;
			transform-origin: center;
			transform: rotate(225deg);
			transition: transform 0.25s ease;
		}
		&__image {
			height: 250px;
		}
		&__member-content {
			height: calc(100% - 250px);
			padding: 20px 20px 40px 20px;
		}
		&__name {
			font-size: rem(22);
		}
		&__position {
			font-size: rem(14);
		}
	}
}
