// ==========================================================================
// TEMPLATES - Invoice
// ==========================================================================

.invoice-form {
	&__container {
		@include container;
		padding-bottom: 120px;
		position: relative;
		min-height: 100vh;
	}
	&__background {
		display: none;
	}

	&__cta {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 1%;
		right: 2%;
		z-index: 1;
		@include arrow($teal, 0deg);
	}
	&__cta-text {
		@include circleText;
	}
	&__cta-icon {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__title {
		color: $navy;
		width: 100%;
		padding-right: 25%;
		padding-bottom: 85px;
		padding-top: 75px;
		margin-bottom: 0;
		position: relative;
	}
	&__title-word {
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 150%, 0);
	}
	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 40px;
		padding-top: 25px;
		position: relative;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100px, 0);
	}
	&__separator {
		display: block;
		height: 1px;
		width: 100%;
		background-color: $black;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	&__header-title {
		font-size: rem(14);
		font-weight: 600;
	}
	&__header-icon {
		margin-left: 15px;
	}
	&__body {
		@include invoiceForm;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100px, 0);
	}
	&__image {
		&--mobile {
			display: block;
			position: relative;
			width: 50%;
		}
	}
	&__image-close-container {
		&--mobile {
			display: block;
			width: 25px;
			height: 25px;
			background: $teal;
			border-radius: 50%;
			position: absolute;
			top: 15%;
			right: 10%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__image-close {
		position: absolute;
		width: 10px;
		height: 1px;
		background-color: $white;
		border-radius: 10px;
		transform-origin: center;

		&:first-of-type {
			transform: rotate(45deg);
		}
		&:last-of-type {
			transform: rotate(-45deg);
		}
	}
	&__image-container {
		opacity: 0;
		pointer-events: none;
		&--mobile {
			position: fixed;
			height: 100vh;
			width: 100vw;
			background-color: white;
			z-index: 2;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.25s ease;
		}
		&--visible {
			opacity: 1;
			pointer-events: all;
		}
	}
}

@include tablet-only {
	.invoice-form {
		&__title {
			width: 100%;
			padding-right: 50%;
			padding-bottom: 100px;
			padding-top: 150px;
		}
		&__header {
			width: calc(100% - 160px);
			margin: 0 80px 40px 80px;
		}
		&__body {
			width: calc(100% - 160px);
			margin: 0 80px 120px 80px;
		}
		&__cta {
			right: 10%;
			top: 5%;
		}
	}
}

@include desktop-only {
	.invoice-form {
		&__title {
			font-size: rem(70);
			padding-right: 0;
			padding-bottom: 0;
			padding-top: 100px;
			margin-bottom: 130px;
		}
		&__header {
			width: 66.66666%;
			margin-left: 16.66666%;
			margin-right: 16.66666%;
			margin-bottom: 50px;
			padding-top: 20px;
			position: relative;
		}
		&__header-title {
			font-size: rem(16);
		}
		&__image-close-container {
			position: absolute;
			left: -25%;
			z-index: 2;
			top: -100%;
			color: $white;
			background: $teal;
			border-radius: 50%;
			height: 20px;
			width: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 9px;
			line-height: 15px;
		}
		&__image-close {
			position: absolute;
			width: 10px;
			height: 1px;
			background-color: $white;
			border-radius: 10px;
			transform-origin: center;
			&:first-of-type {
				transform: rotate(45deg);
			}
			&:last-of-type {
				transform: rotate(-45deg);
			}
		}
		&__image-container {
			opacity: 0;
			transition: 0.25s ease;
			&--mobile {
				display: none;
			}
			&--visible {
				opacity: 1;
			}
		}
		&__image {
			position: absolute;
			top: 0px;
			left: -25%;
			width: calc(25% - 16px);
			display: block;
			opacity: 1;
		}
		&__background {
			position: absolute;
			top: -40px;
			right: -25%;
			width: 40%;
			display: block;
		}
		&__body {
			width: 66.66666%;
			margin: 0 16.66666% 100px 16.66666%;
		}
		&__cta {
			top: 7%;
			right: 10%;
		}
	}
}
