// ==========================================================================
// TEMPLATES - Article
// ==========================================================================

.article-image {
	margin-bottom: 30px;
}

.article-back {
	margin-bottom: 40px;
	&__container {
		@include container;
		padding-top: 0px;
	}
	&__button-container {
		display: inline-block;
		//opacity: 0;
		//visibility: hidden;
		//transform: translate3d(0, 100%, 0);
	}
	&__button {
		display: inline-flex;
		align-items: center;
		font-size: rem(13);
		font-weight: 500;
		color: $black;
		opacity: 0.3;
		padding: 0 15px 15px 15px;
		position: relative;
		transition: opacity 0.25s ease;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $black;
			position: absolute;
			left: 0px;
			bottom: 0px;
			transform: scaleX(1);
			transform-origin: center;
			transition: transform 0.25s ease;
		}
		&:hover {
			opacity: 0.7;
			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 100%;
				background-color: $black;
				position: absolute;
				left: 0px;
				bottom: 0px;
				transform: scaleX(0.8);
			}
			.article-back__button-icon {
				transform: translateX(-5px);
			}
		}
	}
	&__button-icon {
		position: relative;
		top: -2px;
		margin-right: 10px;
		transform: translateX(0);
		transition: transform 0.25s ease;
	}
}

.article-content {
	&__container {
		@include container;
		padding-bottom: 120px;
	}
	&__title {
		font-size: rem(26);
		margin-bottom: 30px;
	}
}
