// ==========================================================================
// TEMPLATES - 404
// ==========================================================================

.error404 {
	.header {
		&__logo {
			filter: brightness(0) invert(1) grayscale(1);
		}
		&__main-nav--desktop .menu .menu-item a {
			color: $white;
		}
	}
	main {
		padding-top: 0px;
	}
}

.error {
	overflow: hidden;
	padding-top: 120px;
	min-height: 100vh;
	background-color: #051c2f;
	position: relative;
	&__container {
		@include container;
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		z-index: 1;
	}
	&__title {
		font-size: rem(40);
		font-weight: 500;
		color: $white;
		margin-bottom: 80px;
	}
	&__title-word {
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 150%, 0);
	}
	&__button-container {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 150%, 0);
	}
	&__button {
		font-size: rem(13);
		font-weight: 500;
		color: $white;
		padding: 0 20px 15px 20px;
		position: relative;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: $white;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
	&__button-icon {
		margin-left: 20px;
		transform-origin: center;
		transform: rotate(225deg);
	}
	&__background {
		width: 150%;
		opacity: 0.3;
		position: absolute;
		transform-origin: center;
		transform: rotate(230deg) translateX(20%) translateY(25%);
	}
}

@include tablet-only {
	.error {
		&__container {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		&__title {
			width: 75%;
			font-size: rem(70);
			margin-bottom: 150px;
		}
		&__background {
			width: 120%;
			transform: rotate(230deg) translateX(55%) translateY(65%);
		}
	}
}

@include desktop-only {
	.error {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		&__title {
			width: 66.66666%;
			font-size: rem(90);
		}
		&__button {
			font-size: rem(15);
		}
		&__background {
			transform: rotate(210deg) translateX(10%) translateY(20%);
		}
	}
}
