// ==========================================================================
// TEMPLATE - Home
// ==========================================================================

.hero-slider {
	padding: 2rem 0;
	&__container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__button-container {
		@include container;
		padding-top: 3em;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__title-container {
		position: absolute;
		width: 100%;
	}
	&__title-list {
		width: 100%;
	}
	&__title-item {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__title {
		color: $white;
		height: fit-content;
		font-size: rem(43);
		font-weight: 500;
		text-align: center;
		padding: 0.5em;
	}
	&__list {
		transform: rotate(-5deg);
		width: 200vw;
		margin-bottom: 2em;
	}
	&__item {
		width: 200%;
		height: 65vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__image {
		width: 100%;
		object-fit: cover;
		&--tablet {
			display: none;
		}
	}
	&__illustration {
		position: absolute;
		bottom: 0;
		z-index: 2;
		right: -45vw;
		width: 100%;
		pointer-events: none;
	}

	&__nav {
		background-color: $teal;
		height: rem(35);
		width: rem(35);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-right: 1em;
		svg {
			width: 60%;
		}
	}
	&__indicator {
		width: 100%;
		height: rem(50);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: rem(20);
		pointer-events: none;
	}
	&__indicator-bar {
		width: rem(2);
		height: rem(50);
		background: $gray;
		display: block;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__indicator-thumb {
		display: block;
		width: rem(4);
		height: rem(15);
		background: $teal;
		position: absolute;
	}
	.flickity-viewport {
		overflow: visible;
	}
}

.home-highlight {
	padding: 3em 0;
	&__top-container {
		@include container;
	}
	&__text {
		font-size: rem(40);
		letter-spacing: rem(-1.6);
		color: $navy;
	}
	&__image-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 115vw;
	}
	&__image {
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		object-fit: cover;
		object-position: center;
		position: absolute;
	}
	&__mask {
		display: flex;
		z-index: 1;
		position: relative;
		polygon,
		path {
			fill: $white;
		}
	}
	&__bottom-container {
		margin-top: 1em;
		@include container;
	}
	&__note-wrapper {
		padding: 1em 0;
		display: flex;
		justify-content: space-between;
		border-top: 1px $gray solid;
	}
	&__note {
		color: $navy;
		font-size: rem(14);
	}
}
.home-services {
	background-color: $navy;
	padding: 2em 0;
	&__container {
		@include container;
	}
	&__note {
		@include note;
		color: $white;
		max-width: rem(150);
	}
	&__list {
		padding: 2em 0;
		border-bottom: 1px $teal solid;
	}
	&__link {
		padding: 1em 0.5em;
		display: block;
		color: white;
		font-size: rem(30);
		display: flex;
		justify-content: space-between;
	}
	&__arrow {
		display: block;
		height: rem(17);
		svg {
			height: 100%;
		}
	}
	&__background,
	&__media {
		display: none;
	}
}
.home-promo {
	&__container {
		position: relative;
	}
	&__list {
		padding: 2em 0;
		background-color: $gray;
		position: absolute;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		opacity: 1;
		transition: 0.2s opacity ease-in-out;
		&--hide {
			opacity: 0;
			pointer-events: none;
		}
	}
	&__word {
		font-size: rem(83);
		color: $white;
	}
	&__video-button {
		position: absolute;
		bottom: 10%;
		right: 10%;
		height: rem(50);
		width: rem(50);
		background-color: yellow;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			height: rem(20);
		}
	}
	&__video-container {
		iframe {
			width: 100%;
		}
	}
}

.home-commitment {
	padding: 2em 0 0 0;
	background-color: $navy;
	&__container {
		@include container;
	}
	&__top {
		border-top: 1px $gray solid;
		padding: 2em 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&__icon {
		height: rem(15);
	}
	&__note {
		@include note;
		color: $white;
		margin-bottom: 0;
		margin-top: 0.5em;
		margin-left: 0.5em;
	}
	&__text {
		color: $white;
		font-size: rem(20);
		line-height: 1.5em;
	}
	&__list {
		padding: 2em 0 4em 0;
	}
	&__item {
		padding: 1.5em 0;
		border-bottom: $gray solid 1px;
		width: 90%;
	}
	&__item-text {
		font: 500 rem(17) $font-family-default;
		color: $white;
	}
	&__bottom {
		height: 40vh;
		position: relative;
		width: 100%;
	}
	&__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.home-social {
	padding: 3em 0;
	&__container {
		@include container;
	}
	&__title-container {
		padding: 2em 0;
		border-top: 1px solid $black;
		display: flex;
		align-items: baseline;
		justify-content: flex-start;
	}
	&__title {
		font-size: rem(18);
		line-height: 1.5em;
		margin-left: 1em;
	}
	&__icon {
		width: rem(15);
		flex-shrink: 0;
	}
	&__feed {
		@include container;
	}
}
