// ==========================================================================
// TEMPLATES - Invoice
// ==========================================================================

.invoice-form {
	&__container {
		@include container;
		padding-bottom: 120px;
	}
	&__background {
		display: none;
	}
	&__image {
		display: none;
	}
	&__cta {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 5%;
		right: 5%;
		z-index: 1;
		@include arrow($teal, 0deg);
	}
	&__cta-text {
		@include circleText;
	}
	&__cta-icon {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__title {
		color: $navy;
		width: 100%;
		padding-right: 25%;
		padding-bottom: 85px;
		padding-top: 75px;
		margin-bottom: 0;
		position: relative;
	}
	&__title-word {
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 150%, 0);
	}
	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 40px;
		padding-top: 25px;
		position: relative;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100px, 0);
	}
	&__separator {
		display: block;
		height: 1px;
		width: 100%;
		background-color: $black;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	&__header-title {
		font-size: rem(14);
		font-weight: 600;
	}
	&__header-icon {
		margin-left: 15px;
	}
	&__body {
		@include invoiceForm;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100px, 0);
	}
}

@include tablet-only {
	.invoice-form {
		&__title {
			width: 100%;
			padding-right: 50%;
			padding-bottom: 100px;
			padding-top: 150px;
		}
		&__header {
			width: calc(100% - 160px);
			margin: 0 80px 40px 80px;
		}
		&__body {
			width: calc(100% - 160px);
			margin: 0 80px 120px 80px;
		}
	}
}

@include desktop-only {
	.invoice-form {
		&__title {
			font-size: rem(70);
			padding-right: 0;
			padding-bottom: 0;
			padding-top: 100px;
			margin-bottom: 130px;
		}
		&__header {
			width: 66.66666%;
			margin-left: 16.66666%;
			margin-right: 16.66666%;
			margin-bottom: 50px;
			padding-top: 20px;
			position: relative;
		}
		&__header-title {
			font-size: rem(16);
		}
		&__image {
			position: absolute;
			top: 0px;
			left: -25%;
			width: calc(25% - 16px);
			display: block;
			opacity: 0;
			transition: 0.25s ease;
			&--visible {
				opacity: 1;
			}
		}
		&__background {
			position: absolute;
			top: -40px;
			right: -25%;
			width: 40%;
			display: block;
		}
		&__body {
			width: 66.66666%;
			margin: 0 16.66666% 100px 16.66666%;
		}
	}
}
