// ==========================================================================
// TEMPLATES - News
// ==========================================================================

.news-hero {
	&__container {
		@include container;
	}
	&__title {
		margin-top: 100px;
		margin-bottom: 0px;
	}
	&__title-word {
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 150%, 0);
	}
}

.news-list {
	&__container {
		@include container;
	}
	&__filters {
		margin-bottom: 75px;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100px, 0);
	}
	&__filter {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: rem(19);
		color: $navy;
		opacity: 0.3;
		margin-bottom: 20px;
		transition: 0.25s ease;
		&:hover {
			opacity: 1;
		}
		&:last-of-type {
			margin-bottom: 0px;
		}
		&--active {
			opacity: 1;
		}
		&--opened {
			.news-list {
				&__filter-icon {
					transform: rotate(180deg);
				}
			}
		}
	}
	&__filter-icon {
		margin-left: 10px;
		transition: 0.25s ease;
	}
	&__filter-children {
		display: block;
		width: 100%;
		margin-top: 15px;
		max-height: 0px;
		overflow: hidden;
		transition: 0.25s ease;
		&--opened {
			max-height: 750px;
		}
	}
	&__filter-child {
		font-size: rem(14);
		color: $navy;
		opacity: 0.3;
		margin-bottom: 20px;
		transition: 0.25s ease;
		&:hover {
			opacity: 1;
		}
		&:last-of-type {
			margin-bottom: 0px;
		}
		&--active {
			opacity: 1;
		}
	}
	&__articles {
		margin-bottom: 100px;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100px, 0);
	}
	&__news {
		margin-bottom: 55px;
	}
	&__pagination {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}
	&__page {
		margin-right: 10px;
		&.active {
			.news-list {
				&__page-content {
					opacity: 1;
				}
			}
		}
	}
	&__page-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		background-color: $teal;
		border-radius: 50%;
		position: relative;
		font-size: rem(16);
		color: $white;
		opacity: 0.3;
		transition: 0.5s ease;
	}
}

@include tablet-only {
	.news-hero {
		.contact-hero__cta-container {
			top: 85px;
		}
		&__title {
			margin-top: 150px;
			margin-bottom: 10px;
		}
	}
	.news-list {
		&__container {
			display: grid;
			grid-template-columns: 2fr 6fr;
			grid-column-gap: 16px;
		}
		&__filter-icon {
			margin-left: 15px;
		}
		&__filter-child {
			margin-bottom: 15px;
		}
		&__news {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 16px;
		}
	}
}

@include desktop-only {
	.news-hero {
		.contact-hero__cta-container {
			top: 65px;
		}
		&__title {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	.news-list {
		&__container {
			grid-template-columns: 2fr 9fr;
			grid-column-gap: 8.33333%;
			padding-bottom: 120px;
		}
		&__filter {
			font-size: rem(22);
		}
		&__filter-icon {
			margin-left: 20px;
		}
		&__filter-children {
			margin-top: 35px;
		}
		&__filter-child {
			font-size: rem(16);
			margin-bottom: 20px;
		}
		&__news {
			grid-gap: 20px;
		}
		&__page-content {
			font-size: rem(20);
		}
	}
}
