// ==========================================================================
// MODULES - Header
// ==========================================================================

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: $mobile-header-height;
	position: fixed;
	top: 0px;
	z-index: 2;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 0.5em;
	&--hide {
		pointer-events: none;
	}
	&--opened {
		.header {
			&__logo {
				filter: brightness(0) invert(1) grayscale(1);
			}
			&__main-nav--desktop {
				display: none;
			}
		}
	}
	&__top {
		width: 100%;
		.wpml-ls-link {
			color: $navy;
			font-size: rem(12);
			font-family: $lelo;
		}
		&--hide {
			opacity: 0;
		}
	}
	&__main {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__lang-container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
	&__logo-container {
		position: relative;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
		&--white {
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
	&__logo {
		transition: 0.5s ease;
		&--desktop {
			display: none;
		}
	}
	&__main-nav {
		margin-top: 45px;
		margin-bottom: 45px;
		&--desktop {
			display: none;
		}
	}
	&__main-nav-item {
		margin-bottom: 35px;
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		transition: opacity 0.35s cubic-bezier(0.04, 0, 0.21, 1) 0s, transform 1s linear 0.5s;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__main-nav-link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(30);
		font-weight: 500;
		color: $white;
	}
	&__main-nav-icon {
		transform-origin: center;
		transform: rotate(45deg);
		margin-left: 20px;
	}
	&__sub-nav-item {
		margin-bottom: 30px;
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		transition: opacity 0.35s cubic-bezier(0.04, 0, 0.21, 1) 0s, transform 1s linear 0.5s;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__sub-nav-link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(18);
		font-weight: 400;
		color: $white;
		opacity: 0.3;
	}
	&__sub-nav-icon {
		transform-origin: center;
		transform: rotate(45deg);
		margin-left: 10px;
	}
	&__nav-container {
		position: relative;
		z-index: 1;
		&--hide {
			opacity: 0;
		}
	}
	&__navigation {
		transform: scaleY(0);
		transition-delay: 0.2s !important;
		&--opened {
			pointer-events: all;
			transform: scaleY(1);
			transition-delay: 0s !important;
			.header {
				&__main-nav-item {
					opacity: 1;
					transform: translate3d(0, 0, 0);
					transition: 0.75s cubic-bezier(0.04, 0, 0.21, 1);
					@include menu-item-delay;
				}
				&__sub-nav-item {
					opacity: 1;
					transform: translate3d(0, 0, 0);
					transition: 0.75s cubic-bezier(0.04, 0, 0.21, 1);
					@include menu-item-delay;
				}
			}
			.navigation {
				&__container {
					pointer-events: all !important;
				}
				&__image {
					opacity: 0.3;
				}
			}
		}
	}
	&__buttons-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	&__hamburger {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 40px;
		height: 40px;
		background-color: $navy;
		transform: scaleX(0);
		transform-origin: right;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		&--opened {
			.header {
				&__hamburger-line-container {
					&:nth-of-type(2) {
						.header {
							&__hamburger-line {
								opacity: 0;
							}
						}
					}
					&:nth-of-type(1) {
						.header {
							&__hamburger-line {
								transform: translateY(0px) rotate(45deg);
							}
						}
					}
					&:nth-of-type(3) {
						.header {
							&__hamburger-line {
								transform: translateY(0px) rotate(-45deg);
							}
						}
					}
				}
			}
		}
	}
	&__hamburger-line-container {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transform: scaleX(0);
		transform-origin: center;
		position: absolute;
		&:nth-of-type(1) {
			.header {
				&__hamburger-line {
					transform: translateY(6px) rotate(0deg);
				}
			}
		}
		&:nth-of-type(3) {
			.header {
				&__hamburger-line {
					transform: translateY(-6px) rotate(0deg);
				}
			}
		}
	}
	&__hamburger-line {
		display: inline-block;
		height: 2px;
		width: 15px;
		border-radius: 50px;
		background-color: $gray;
		margin: 2px 0;
		transition: 0.5s ease;
	}
	&__button {
		background-color: $yellow;
		transform: scaleX(0);
		transform-origin: left;
		width: 120px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	&__button-label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 40px;
		padding: 0;
		color: $black;
		opacity: 0;
		transform: translate3d(0, -15px, 0);
		&--mock {
			display: none;
		}
		p {
			margin: 0 0.75em;
			font-size: rem(11);
			font-weight: 700;
		}
	}
}

.navigation {
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100vh;
	background-color: #051c2f;
	overflow-y: scroll;
	overflow-x: hidden;
	transform-origin: top;
	transition: 0.7s ease;
	&__container {
		@include container;
		padding-top: $mobile-header-height;
		min-height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex-direction: column;
		overflow: hidden;
		pointer-events: none !important;
	}
	&__image {
		position: absolute;
		width: 100%;
		right: 0;
		bottom: 0;
		pointer-events: none;
		z-index: 0;
		opacity: 0;
		overflow: hidden;
		transition: 0.4s ease;
		svg {
			transform: translateX(65%) scale(1.3) rotate(315deg) !important;
		}
	}
}

@include tablet-only {
	.header {
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 1em;
		&__top {
			width: 100%;
			.wpml-ls-link {
				color: $navy;
				font-size: rem(12);
				font-family: $lelo;
			}
		}
		&__main {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__lang-container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__logo-container {
			&--white {
				filter: invert(1);
			}
		}
		&__logo {
			&--white {
				filter: brightness(0);
			}
			&--mobile {
				display: none;
			}
			&--desktop {
				display: block;
				max-width: 200px;
			}
		}
		&__nav-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		&__main-nav {
			margin-top: 0;
			&--desktop {
				display: block;
				margin-bottom: 0px;
				margin-right: 25px;
				.menu {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					&__item {
						margin-right: 15px;
						opacity: 0;
						visibility: hidden;
						transform: translate3d(0, -100%, 0);
						&:last-of-type {
							margin-right: 0px;
						}
					}
					&__item-link {
						font-size: rem(14);
						font-weight: 500;
						color: $navy;
					}
				}
			}
			&--mobile {
				display: none;
			}
		}
		&__sub-nav-link {
			font-size: rem(30);
			font-weight: 500;
			opacity: 1;
		}
		&__sub-nav-icon {
			width: 20px;
			height: 20px;
		}
		&__button-label {
			p {
				font-size: rem(12);
			}
		}
	}

	.navigation {
		&__container {
			padding-left: 120px;
			padding-right: 120px;
			padding-top: 240px;
			flex-direction: row;
		}
		&__image {
			svg {
				transform: translateX(50%) translateY(40%) scale(1.1) rotate(315deg) !important;
			}
		}
	}
}

@include desktop-only {
	.header {
		padding: 0 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 1em;
		height: $desktop-header-height;
		&__top {
			width: 100%;
			.wpml-ls-link {
				color: $navy;
				font-size: rem(15);
				font-family: $lelo;
			}
		}
		&__main {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__logo {
			&--desktop {
				max-width: 235px;
			}
		}
		&__lang-container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__main-nav {
			&--desktop {
				.menu {
					&__item {
						margin-right: 30px;
						&--current {
							display: inline-flex;
							flex-wrap: wrap;
							align-items: center;
							justify-content: center;
							position: relative;
							&:after {
								content: '';
								display: block;
								width: 6px;
								height: 6px;
								border-radius: 50%;
								background-color: $teal;
								position: absolute;
								bottom: -5px;
							}
						}
						&:last-of-type {
							margin-right: 0px;
						}
					}
					&__item-link {
						font-size: rem(19);
						text-decoration: none;
						color: $navy;
						font-family: $lelo;
					}
				}
			}
		}
		&__hamburger {
			width: 60px;
			height: 60px;
		}
		&__hamburger-line {
			width: 20px;
			margin: 3px 0;
		}
		&__button {
			width: 200px;
			position: relative;
			overflow: hidden;
		}
		&__button-label {
			height: 60px;
			&--mock {
				display: flex;
				position: absolute;
				z-index: 20;
				top: 0;
				left: 0;
				width: 100%;
				background-color: $yellow;
				opacity: 1;
				transform: translate3d(0, 0, 0);
				transition: 0.55s ease;
				&--hide {
					transform: translateY(-100%) !important;
				}
			}
			p {
				font-size: rem(19);
			}
		}
		&__button-content {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0 !important;
			padding: 0 0.75em;
			height: 100%;
			opacity: 0;
			transform: translate3d(0, -15px, 0);
		}
		&__sub-nav-item {
			margin-bottom: 40px;
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
		&__sub-nav-link {
			font-size: rem(45);
		}
		&__sub-nav-icon {
			width: 22px;
			height: 22px;
			margin-left: 20px;
		}
		&__navigation {
			&--opened {
				display: flex;
			}
		}
	}
	.navigation {
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		overflow: hidden;
		&__container {
			width: 100%;
			max-width: none;
			padding: 145px;
			align-items: center;
		}
		&__image {
			svg {
				transform: translateX(30%) translateY(40%) scale(0.8) rotate(315deg) !important;
			}
		}
	}
}
