// ==========================================================================
// MODULES - Preloader
// ==========================================================================

.preloader {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: $teal;
	z-index: 11111;
}
