// ==========================================================================
// MODULES - Cursor
// ==========================================================================

.cursor {
	&__ball {
		transform: translate(0px, 0px);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		width: 100px;

		svg {
			transition: 0.5s ease;
		}

		circle {
			shape-rendering: geometricPrecision;
			fill: $teal;
			stroke: $teal;
			fill-opacity: 1;
			stroke-width: 0;
			transition: 0.5s ease;
		}
	}
}

@include min-width($tablet-threshold) {
	.cursors {
		&__introduction {
			width: 33.33333%;
			margin-right: 16.66666%;
		}
		&__content {
			width: 50%;
		}
	}
}
