// ==========================================================================
// MODULES - Header
// ==========================================================================

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: $mobile-header-height;
	position: fixed;
	z-index: 2;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 0.5em;
	&--opened {
		.header {
			&__logo {
				filter: brightness(0) invert(1) grayscale(1);
			}
			&__main-nav--desktop {
				display: none;
			}
		}
	}
	&__top {
		width: 100%;
		.wpml-ls-link {
			color: $navy;
			font-size: rem(12);
			font-family: $lelo;
		}
	}
	&__main {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__lang-container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__logo-container {
		position: relative;
		z-index: 1;
	}
	&__logo {
		&--desktop {
			display: none;
		}
	}
	&__main-nav {
		margin-top: 45px;
		margin-bottom: 45px;
		.menu-item {
			font-family: $lelo;
		}
		&--desktop {
			display: none;
		}
	}
	&__main-nav-item {
		margin-bottom: 35px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__main-nav-link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(30);
		font-weight: 500;
		color: $white;
	}
	&__main-nav-icon {
		transform-origin: center;
		transform: rotate(45deg);
		margin-left: 20px;
	}
	&__sub-nav-item {
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&__sub-nav-link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(18);
		font-weight: 400;
		color: $white;
		opacity: 0.3;
	}
	&__sub-nav-icon {
		transform-origin: center;
		transform: rotate(45deg);
		margin-left: 10px;
	}
	&__nav-container {
		position: relative;
		z-index: 1;
	}
	&__navigation {
		display: none;
		&--opened {
			display: block;
		}
	}
	&__buttons-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		overflow: hidden;
	}
	&__hamburger {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 40px;
		height: 40px;
		background-color: $navy;
		&--opened {
			.header {
				&__hamburger-line {
					position: absolute;
					&:nth-of-type(1) {
						transform: rotate(45deg);
					}
					&:nth-of-type(2) {
						transform: rotate(-45deg);
					}
					&:last-of-type {
						display: none;
					}
				}
			}
		}
	}
	&__hamburger-line {
		display: inline-block;
		height: 2px;
		width: 15px;
		border-radius: 50px;
		background-color: $gray;
		margin: 2px 0;
	}
	&__button {
		background-color: $yellow;
	}
	&__button-label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 40px;
		padding: 0 15px;
		font-size: rem(11);
		font-weight: 700;
		color: $black;
	}
}

.navigation {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100vh;
	background-color: $navy;
	&__container {
		@include container;
		padding-top: $mobile-header-height;
	}
	&__image {
		position: absolute;
		width: 100%;
		right: -50%;
		bottom: 0px;
	}
}

@include tablet-only {
	.header {
		padding: 0 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 1em;
		&__top {
			width: 100%;
			.wpml-ls-link {
				color: $navy;
				font-size: rem(12);
				font-family: $lelo;
			}
		}
		&__main {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__lang-container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__logo {
			&--mobile {
				display: none;
			}
			&--desktop {
				display: block;
				max-width: 200px;
			}
		}
		&__nav-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		&__main-nav {
			&--desktop {
				display: block;
				margin-bottom: 0px;
				margin-right: 25px;
				.menu {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					.menu-item {
						margin-right: 25px;
						&:last-of-type {
							margin-right: 0px;
						}
						a {
							font-size: rem(14);
							font-weight: 500;
							color: $navy;
						}
					}
				}
			}
			&--mobile {
				display: none;
			}
		}
		&__sub-nav-link {
			font-size: rem(30);
			font-weight: 500;
			opacity: 1;
		}
		&__sub-nav-icon {
			width: 20px;
			height: 20px;
		}
		&__navigation {
			display: none;
			&--opened {
				display: block;
			}
		}
		&__button-label {
			font-size: rem(12);
		}
	}

	.navigation {
		&__container {
			padding-left: 120px;
			padding-right: 120px;
			padding-top: 240px;
		}
		&__image {
			right: -30%;
			bottom: -200px;
		}
	}
}

@include desktop-only {
	.header {
		padding: 0 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 1em;
		height: $desktop-header-height;
		&__top {
			width: 100%;
			.wpml-ls-link {
				color: $navy;
				font-size: rem(15);
				font-family: $lelo;
			}
		}
		&__main {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__logo {
			&--desktop {
				max-width: 235px;
			}
		}
		&__lang-container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__main-nav {
			&--desktop {
				.menu {
					.menu-item {
						margin-right: 30px;

						&:last-of-type {
							margin-right: 0px;
						}
						a {
							font-size: rem(19);
						}
						&.current_page_item {
							display: inline-flex;
							flex-wrap: wrap;
							align-items: center;
							justify-content: center;
							position: relative;
							&:after {
								content: '';
								display: block;
								width: 6px;
								height: 6px;
								border-radius: 50%;
								background-color: $teal;
								position: absolute;
								bottom: -5px;
							}
						}
					}
				}
			}
		}
		&__hamburger {
			width: 60px;
			height: 60px;
		}
		&__hamburger-line {
			width: 20px;
			margin: 3px 0;
		}
		&__button-label {
			font-size: rem(19);
			height: 60px;
		}
		&__sub-nav-item {
			margin-bottom: 40px;
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
		&__sub-nav-link {
			font-size: rem(45);
		}
		&__sub-nav-icon {
			width: 22px;
			height: 22px;
			margin-left: 20px;
		}
		&__navigation {
			&--opened {
				display: flex;
			}
		}
	}
	.navigation {
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		&__container {
			width: 100%;
			padding: 145px;
		}
		&__image {
			right: -50%;
			bottom: -50%;
		}
	}
}
