// ==========================================================================
// MIXINS - Buttons
// ==========================================================================

// Buttons mixins
@mixin button-primary {
	background-color: $teal;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: 15px;
	font-weight: 500;
	color: white;
	align-items: baseline;
	justify-content: space-between;
	&::after {
		content: '';
		width: 15px;
		height: 15px;
		display: block;
		background-image: url('../svg/arrow.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
	}
}

@mixin button-secondary {
	background-color: transparent;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: rem(15);
	font-weight: 500;
	color: $navy;
	align-items: baseline;
	justify-content: space-between;
	border-bottom: 1px solid $navy;
	&::after {
		content: '';
		min-width: 10px;
		width: 15px;
		height: 15px;
		display: block;
		background-image: url('../svg/arrow-navy.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
	}
}

@mixin button-white {
	background-color: transparent;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: rem(15);
	font-weight: 500;
	color: $white;
	align-items: baseline;
	justify-content: space-between;
	border: 1px solid $white;
	&::after {
		content: '';
		min-width: 10px;
		width: 15px;
		height: 15px;
		display: block;
		background-image: url('../svg/arrow.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		align-self: flex-end;
		margin-left: 1em;
	}
}

@mixin button-outline {
	background-color: transparent;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: 13px;
	font-weight: 500;
	color: $navy;
	align-items: baseline;
	justify-content: space-between;
	border: 1px solid $navy;
	color: $navy;
	&::after {
		content: '';
		min-width: 10px;
		width: 15px;
		height: 15px;
		flex-shrink: 0;
		display: block;
		background-image: url('../svg/arrow-teal.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
	}
}

@mixin button-download {
	background-color: $navy;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: 15px;
	font-weight: 500;
	color: white;
	align-items: baseline;
	justify-content: space-between;
	&::after {
		content: '';
		width: 16x;
		height: 20px;
		display: block;
		background-image: url('../svg/download.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
	}
}
