// ==========================================================================
// MIXINS - Buttons
// ==========================================================================

// Buttons mixins
@mixin button-primary {
	position: relative;
	background-color: $teal;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: 15px;
	font-weight: 500;
	color: white;
	border: 1px solid $teal;
	align-items: baseline;
	justify-content: space-between;
	z-index: 1;
	transform: scale(1);
	transition: transform 0.35s ease-in-out;
	&::after {
		content: '';
		width: 15px;
		height: 15px;
		display: block;
		background-image: url('../svg/arrow.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
		position: relative;
		top: 3px;
		transform: rotate(0);
		transition: transform 0.35s ease-in-out;
	}
	&:hover {
		transform: scale(1.02);
		&::after {
			transform: rotate(45deg);
			transition: transform 0.35s ease-in-out;
		}
	}
}

@mixin button-secondary {
	background-color: transparent;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: rem(15);
	font-weight: 500;
	color: $navy;
	align-items: baseline;
	justify-content: space-between;
	border-bottom: 1px solid $navy;
	&::before {
		display: none;
	}
	&::after {
		content: '';
		min-width: 10px;
		width: 15px;
		height: 15px;
		display: block;
		background-image: url('../svg/arrow-navy.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
		transform: rotate(0);
		transition: transform 0.35s ease-in-out;
	}
	&:hover {
		&::after {
			transform: rotate(45deg);
			transition: transform 0.35s ease-in-out;
		}
	}
}

@mixin button-white {
	position: relative;
	background-color: transparent;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: rem(15);
	font-weight: 500;
	color: $white;
	align-items: baseline;
	justify-content: space-between;
	border: 1px solid $white;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: -1;
		background-color: $white;
		transform-origin: left;
		transform: scaleX(0);
		transition: opacity 0.01s linear 0.35s, transform 0.35s ease-in-out;
	}
	&::after {
		content: '';
		min-width: 10px;
		width: 15px;
		height: 15px;
		display: block;
		background-image: url('../svg/arrow.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		align-self: flex-end;
		margin-left: 1em;
		transform: rotate(0);
		transition: transform 0.35s ease-in-out;
	}
	&:hover {
		&::before {
			opacity: 1;
			transform: scaleX(0.025);
			transition: opacity 0.01s linear, transform 0.35s ease-in-out;
		}
		&::after {
			transform: rotate(45deg);
			transition: transform 0.35s ease-in-out;
		}
	}
}

@mixin button-outline {
	background-color: transparent;
	position: relative;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: 13px;
	font-weight: 500;
	color: $navy;
	align-items: baseline;
	justify-content: space-between;
	border: 1px solid $navy;
	z-index: 1;
	color: $navy;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: -1;
		background-color: $teal;
		transform-origin: left;
		transform: scaleX(0);
		transition: opacity 0.01s linear 0.35s, transform 0.35s ease-in-out;
	}
	&::after {
		content: '';
		min-width: 10px;
		width: 15px;
		height: 15px;
		flex-shrink: 0;
		display: block;
		background-image: url('../svg/arrow-teal.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
		position: relative;
		top: 3px;
		transform: rotate(0);
		transition: transform 0.35s ease-in-out;
	}
	&:hover {
		&::before {
			opacity: 1;
			transform: scaleX(0.025);
			transition: opacity 0.01s linear, transform 0.35s ease-in-out;
		}
		&::after {
			transform: rotate(45deg);
			transition: transform 0.35s ease-in-out;
		}
	}
}

@mixin button-download {
	position: relative;
	background-color: $navy;
	display: inline-flex;
	margin: 1em 0;
	padding: 1.3em 1.5em;
	font-size: 15px;
	font-weight: 500;
	color: white;
	align-items: baseline;
	justify-content: space-between;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: -1;
		background-color: $teal;
		transform-origin: left;
		transform: scaleX(0);
		transition: opacity 0.01s linear 0.35s, transform 0.35s ease-in-out;
	}
	&::after {
		content: '';
		width: 16px;
		height: 20px;
		display: block;
		background-image: url('../svg/download.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 1em;
		transform: translateY(0px);
		transition: transform 0.35s ease-in-out;
	}
	&:hover {
		&::before {
			opacity: 1;
			transform: scaleX(0.045);
			transition: opacity 0.01s linear, transform 0.35s ease-in-out;
		}
		&::after {
			transform: translateY(5px);
			transition: transform 0.35s ease-in-out;
		}
	}
}
