// ==========================================================================
// MIXINS - CircleText
// ==========================================================================

@mixin circleText($textColor: $navy) {
	font-size: rem(10);
	color: $textColor;
	font-weight: 700;
	transform-origin: center;
	transform: rotate(0deg);
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	@include tablet-only {
		font-size: rem(12);
	}
}

@keyframes textRotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
