// ==========================================================================
// MIXINS - Filters
// ==========================================================================

@mixin faqFilters {
	.sf-field-taxonomy-groupe {
		padding: 0;
	}
	.sf-level-0 {
		padding: 0;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0px;
		}
		&.sf-option-active {
			.sf-label-radio {
				opacity: 1;
			}
		}
	}
	.sf-input-radio {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
	.sf-label-radio {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-left: 0 !important;
		font-size: rem(19);
		font-weight: 500;
		color: $white;
		opacity: 0.3;
		cursor: none;
		transition: 0.25s ease;
		&:hover {
			opacity: 1;
		}
	}
	.sf-count {
		font-size: rem(13);
		font-weight: 400;
		padding-left: 0px !important;
		margin-left: 5px;
	}
	@include tablet-only {
		.sf-level-0 {
			padding-right: 20px;
			position: relative;
		}
	}

	@include desktop-only {
		.sf-label-radio {
			display: inline-block;
		}
		.sf-level-0 {
			padding-right: 0px;
			position: relative;
		}
	}
}

@mixin jobsFilters {
	.sf-field-taxonomy-zone {
		margin-bottom: 50px;
	}
	.sf-field-taxonomy-zone,
	.sf-field-taxonomy-type {
		padding: 0;
		h4 {
			font-size: rem(15);
			font-weight: 500;
			color: $navy;
			padding: 0;
			margin-bottom: 30px;
			&.opened {
				.jobs-careers {
					&__filters-arrow {
						transform: rotate(180deg);
					}
				}
			}
		}
		ul {
			display: block;
			max-height: 0px;
			transition: 0.25s ease;
			overflow: hidden;
			&.opened {
				max-height: 600px;
			}
		}
	}
	.sf-level-0 {
		padding: 0;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0px;
		}
		&.sf-option-active {
			.sf-label-radio {
				opacity: 1;
			}
		}
	}
	.sf-input-radio {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
	.sf-label-radio {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-left: 0 !important;
		font-size: rem(19);
		font-weight: 500;
		color: $navy;
		opacity: 0.3;
		transition: 0.25s ease;
	}
	.sf-count {
		font-size: rem(13);
		font-weight: 400;
		padding-left: 0px !important;
		margin-left: 5px;
	}

	@include desktop-only {
		.sf-field-taxonomy-zone,
		.sf-field-taxonomy-type {
			h4 {
				margin-bottom: 35px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.sf-label-radio {
			font-size: rem(22);
			cursor: none;
			&:hover {
				opacity: 1;
			}
		}
		.sf-count {
			font-size: rem(17);
		}
	}
}
