// ==========================================================================
// MIXINS - Titles
// ==========================================================================

// Style mixins
// ==========================================================================

@mixin title-1 {
	font: 500 rem(43) $font-family-title;
	line-height: 1.1em;
	margin-bottom: 0.5em;
	color: $navy;

	@include min-width($mobile-threshold) {
		font-size: rem(70);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(70);
	}
}

@mixin title-2 {
	font: 500 rem(45) $font-family-title;
	line-height: 1em;
	margin-bottom: 0.5em;
	color: $navy;

	@include min-width($mobile-threshold) {
		font-size: rem(45);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(45);
	}
}

@mixin title-3 {
	font: 500 rem(35) $font-family-title;
	line-height: 1em;
	margin-bottom: 0.5em;
	color: $navy;

	@include min-width($mobile-threshold) {
		font-size: rem(35);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(35);
	}
}

@mixin title-4 {
	font: 500 rem(15) $font-family-title;
	line-height: 1em;
	margin-bottom: 0.7em;
	color: $navy;
	@include min-width($mobile-threshold) {
		font-size: rem(22);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(22);
	}
}

// Steps title
@mixin title-5 {
	font: 500 rem(35) $font-family-title;

	@include min-width($mobile-threshold) {
		font-size: rem(50);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(50);
	}
}

// Categorie title on grid
@mixin title-6 {
	font: 500 rem(18) $font-family-title;

	@include min-width($mobile-threshold) {
		font-size: rem(18);
	}
	@include min-width($tablet-threshold) {
		font-size: rem(20);
	}
}
