// ==========================================================================
// BASE - Typography
// ==========================================================================

body {
	font: 500 rem($function-size-default) / #{$line-height-default} $font-family-default;
	color: $text-color-default;
}

p,
.paragraph {
	@include paragraph;
}

.list {
	@include list;
}

.b1 {
	@include B1;
}

.b2 {
	@include B2;
}

.b2i {
	@include B2I;
}

.b3 {
	@include B3;
}

.b3c {
	@include B3C;
}

// Highlight color
::selection {
	border: 0;
	text-shadow: none;
	outline: none;
	background-color: rgb(218, 218, 218);
}
