.page-template {
	.page-body {
		.page-wrapper {
			.home-social {
				&__feed {
					.cff-wrapper-ctn {
						overflow: visible;
					}
					#cff {
						.cff-status-post {
							background-color: $white;
							border-radius: rem(5);
							box-shadow: 0px 0px 10px #0000004b;
							padding: 1.5em 1em;
						}
						.cff-bottom {
							display: none;
						}
					}
				}
			}
		}
	}
}
